@import url(/assets/support/theme_static/pico/style_library/base.css);
@import url(/assets/support/theme_static/pico/style_library/pico-white/screen.css);

/*
blockquote {
    background: none repeat scroll 0 0 #eee;
    display: block;
    font-family: sans-serif;
    font-size: large;
    padding: 1em;
    margin:1em 0 1em 0;
    width: 100%;
    }
*/

/* set widths and margins. Textile 2 processor adds a "p" wrapper to every img */
p>img {
    width:100%; 
    margin:20px 0 30px 0;
}

/* position image captions "i" is second child of "p" */
i:nth-child(2) {
    display:block;
    margin-top:-30px;
    padding-top:10px;
}
