
<header>
    <a href="/" id="identity">
        <img src="/i/headernav/dug-logo-smaller.svg" alt="dug (company logo)">
        <img src="/i/headernav/gltt.svg" alt="Good looks like this." id="glttBanner">
    </a>
    <nav id="headernavLinks">
        <a href="/"><img src="/i/headernav/nav-blog-box.svg" alt="go to blog pages"></a>
        <a href="/cases/"><img src="/i/headernav/nav-cases-box.svg" alt="go to case studies"></a>
    </nav>
</header>
<nav class="first"><!-- ok this is nasty but navigation elements like a drop-down could be in here --></nav>

