
<nav class='wrapper'>
    {% if page.previous.url %}
    <a class="previous" href="{{page.previous.url}}">
    <i class='fa fa-angle-left'></i>
    <span class="sub-title">Previous post</span>
    <span class="title">{{page.previous.title}}</span>
    </a>
    {% endif %}

    {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">
    <i class='fa fa-angle-right'></i>
    <span class="sub-title">Next post</span>
    <span class="title">{{page.next.title}}</span>
    </a>
    {% endif %}
</nav>


