
<div class="posts">

  <div class="large-6 columns">
    <div class="post" style="height: 325px;">
      <div class="post-desc">
        <p class="info-author"><span>Posted by <a href="#">Dug</a></span></p>
        <h3 id="prevH3"></h3>
      </div>
      <div class="post-image-wrap">
        <div style="background: url({{- site.case_footer_P_image -}}) center center no-repeat;background-size: cover;" class="post-image"></div>
      </div>
    </div>
  </div>

  <div class="large-6 columns">
    <div class="post" style="height: 325px;">
      <div class="post-desc">
        <p class="info-author"><span>Posted by <a href="#">Dug</a></span></p>
        <h3 id="nextH3"></h3>
      </div>
      <div class="post-image-wrap">
        <div style="background: url({{- site.case_footer_N_image -}}) center center no-repeat;background-size: cover;" class="post-image"></div>
      </div>
    </div>
  </div>

</div>



