
<div id="comments" class="comments">
  <h2 class="comments-header">3 Comments</h2>
  <div id="comments-content" class="comments-content" style="clear: left;">

  <div id="comment-3127" class="comment">
    <div class="comment-content">
      <p>Thanks, Dug. We're really pleased with the site and looking forward to doing more work on it. It's great to get help from someone who knows what they're doing AND how to talk to non-technical folk like us.</p>
      <p>Billy</p>
    </div>
    <div class="comment-footer">
      <span class="byline">
        <span class="vcard author"><a title="http://www.experimentalpragmatics.org" href="http://www.experimentalpragmatics.org" rel="nofollow">billy</a></span>
         | <a href="/experimental-pr.html#comment-3127"><abbr class="published" title="2005-06-16T21:56:31+00:00">June 16, 2005  9:56 PM</abbr></a> | <a title="Reply" href="javascript:void(0);" onclick="mtReplyCommentOnClick(3127, 'billy')">Reply</a>
      </span>
    </div>
  </div>

  <div id="comment-3128" class="comment">
    <div class="comment-content">
      <p>hi, i'm a chinese postgraduate majoring in english. so you are working on experimental pragmatics. i am doing such an experiment too, as my graduation thesis' topic. hope we can further this chat:)</p>
    </div>
    <div class="comment-footer">
      <span class="byline">
        <span class="vcard author">Jane</span>
         | <a href="/experimental-pr.html#comment-3128"><abbr class="published" title="2006-07-18T10:34:44+00:00">July 18, 2006 10:34 AM</abbr></a> | <a title="Reply" href="javascript:void(0);" onclick="mtReplyCommentOnClick(3128, 'Jane')">Reply</a>
      </span>
    </div>
  </div>

  <div id="comment-3129" class="comment">
    <div class="comment-content">
      <p>Hi Jane, didn't you mean to comment on the experimental pragmatics website? I'm sure Billy would be delighted to enter into debate with you.</p>
      <p>Best,<br />
      Dug</p>
    </div>
    <div class="comment-footer">
      <span class="byline">
        <span class="vcard author"><a title="http://donkeyontheedge.com" href="http://donkeyontheedge.com" rel="nofollow">Dug</a></span>
         | <a href="/experimental-pr.html#comment-3129"><abbr class="published" title="2006-07-18T11:26:55+00:00">July 18, 2006 11:26 AM</abbr></a>
         | <a title="Reply" href="javascript:void(0);" onclick="mtReplyCommentOnClick(3129, 'Dug')">Reply</a>
      </span>
    </div>
  </div>

</div>

