

<!-- Swiper JS -->
<script src="{{ site.url }}/js/swiper.js"></script>
<script src="{{ site.url }}/bower_components/jquery/dist/jquery.js"></script>
<script src="{{ site.url }}/bower_components/foundation-sites/dist/js/foundation.js"></script>
<script src="{{ site.url }}/bower_components/countto/jquery.countTo.js"></script>
<script src="{{ site.url }}/js/jquery.appear.js"></script>
<script src="{{ site.url }}/js/slick.min.js" type="text/javascript"></script>
<script src="{{ site.url }}/js/jquery.smoothState.js"></script>
<script src="{{ site.url }}/js/app.js"></script>
