@font-face {
  font-family: 'gilroy-extrabold';
  src: url('../../fonts/gilroy/gilroy-extrabold-webfont.woff2') format('woff2'),
       url('../../fonts/gilroy/gilroy-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}