---
layout: default
---

<main>
    <section class="wrapper">

{% assign parts = page.path | remove: '.md' | split: '/' %}
{% assign folder_slug = parts[0] | remove: '_cases_' %}
{% assign folder_title = "" %}

{% for item in site.data.constants %}
    {% if item[1].slug == folder_slug %}
        {% assign folder_title = item[1].title %}
        {% break %}
    {% endif %}
{% endfor %}

{% assign collection_name = "cases_" | append: folder_slug %}
{% assign eligible_pages = "" | split: "," %}

{% for item in site[collection_name] %}
  {% unless item.title == "Index" %}
    {% assign page_data = item.url | append: "||" | append: item.title %}
    {% assign eligible_pages = eligible_pages | push: page_data %}
  {% endunless %}
{% endfor %}

{% assign currentIndex = -1 %}
{% for i in (0..eligible_pages.size) %}
  {% assign current_data = eligible_pages[i] | split: "||" %}
  {% if current_data[0] == page.url %}
    {% assign currentIndex = i %}
  {% endif %}
{% endfor %}

{% assign previousIndex = currentIndex | minus: 1 %}
{% assign nextIndex = currentIndex | plus: 1 %}

<nav id="caseNavLoop">
    <a href="/cases/{{ folder_slug }}/" id="casesHome">&uarr; back to {{ folder_title }}</a>
    {%- if previousIndex >= 0 -%}{% assign previous_data = eligible_pages[previousIndex] | split: "||" %}<a href="{{ previous_data[0] }}" id="casesPrevious" title="{{ previous_data[1] }}">&larr; Previous case</a>{%- endif -%}
    {%- if nextIndex < eligible_pages.size -%}{% assign next_data = eligible_pages[nextIndex] | split: "||" %}<a href="{{ next_data[0] }}" id="casesNext" title="{{ next_data[1] }}">Next case &rarr;</a>{%- endif -%}
</nav>

{% if page.hero_image %}
        <img src="{{ page.hero_image }}" alt="{{ page.hero_image_alt }}" style="margin-top: 1em;">
    {% if page.hero_image_caption %}
            <p class="heroimagecaption">{{ page.hero_image_caption }}</p>
    {% endif %}
{% endif %}

        <h1 id="headTitle">
            {{ page.title }}
        </h1>
        <p id="siteSubtitle">{{ page.subtitle }}</p>

        <!-- 16 Nov was article class="post" -->
        <article class="case">

            <!-- if blogpost  
            <p class="info-author"><span>Posted by <a href="#">{{ post.author }}</a></span></p>
            endif -->

            <h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>

            {%- if site.blogIndexSubtitles == true -%}
            <p style="margin-bottom:0.5em;">{{ post.subtitle | truncatewords: 42 }}</p>
            {%- endif -%}

            <p class="post-intro">
            {{ page.intro }}
            </p>

{% if page.path contains "_strategy/" and page.noCallOut != "true" %}
    <aside id="callOut">
        <h3>Themes / tags</h3>
        <ul>
        {% if post %}
            {% assign tags = post.tags %}
        {% else %}
            {% assign tags = page.tags %}
        {% endif %}
        {% for tag in tags %}
            <li>{{ tag }}</li>
        {% endfor %}
        </ul>
    </aside>
{% endif %}

            {{ content }} 

{% if page.path contains "_strategy/" %}

<h4 style="margin:1.5em 0 2em 0;">
    Can I help you solve a similar problem? <a href="mailto:dug@goodlookslikethis.com?subject=Can%20Dug%20help%3F&body=Hi%20Dug%2C%20I%20read%20one%20of%20your%20strategy%20cases%20and%20am%20wondering%20if%20you%20can%20help%20us.%0A%0ACould%20we%20arrange%20a%20call%3F">dug@goodlookslikethis.com</a>
</h4>

{% else %}

<h4 style="margin:1.5em 0 2em 0;">
    Can I help you solve a similar problem? <a href="mailto:dug@goodlookslikethis.com?subject=Can%20Dug%20help%3F&body=Hi%20Dug%2C%20I%20read%20one%20of%20your%20cases%20and%20am%20wondering%20if%20you%20can%20help%20us.%0A%0ACould%20we%20arrange%20a%20call%3F">dug@goodlookslikethis.com</a>
</h4>

<p class="info-others">
    <span class="tags" style="font-weight: normal; text-transform: uppercase; font-size: small;">
        {% if post %}{% assign tags = post.tags %}{% else %}{% assign tags = page.tags %}{% endif %}
        Tags: {% for tag in tags %}{{ tag }}{% unless forloop.last %}, {% endunless %}{% endfor %}
    </span>
</p>

{% endif %}

        </article>

    </section>
    <!-- move between posts -->
        
    <nav class='wrapper'>
        <ul>
            {%- if previousIndex >= 0 -%}
            <li>
              {% assign previous_data = eligible_pages[previousIndex] | split: "||" %}
              <a href="{{ previous_data[0] }}">{{ previous_data[1] }}</a>
            </li>
            {%- endif -%}
            {%- if nextIndex < eligible_pages.size -%}
            <li>
              {% assign next_data = eligible_pages[nextIndex] | split: "||" %}
              <a href="{{ next_data[0] }}">{{ next_data[1] }}</a>
            </li>
            {%- endif -%}
        </ul>
    </nav>

</main>

