---
layout: default
---

<main>

    <section class="wrapper">

{% if page.hero_image %}
  <figure id="postHeroImage">
    {% if page.target %}<a href="{{ page.target }}">{% endif %}
    <img src="{{ page.hero_image }}" alt="{{ page.hero_image_alt | default: '' }}">
    {% if page.target %}</a>{% endif %}
    {% if page.hero_image_caption or page.hero_image_alt %}
      <figcaption>{{ page.hero_image_caption | default: page.hero_image_alt }}</figcaption>
    {% endif %}
  </figure>
{% endif %}

          <article class="post df-width-two-thirds">

              <h1 id="headTitle">{{ page.title }}</h1>

              <p class="post-intro" style="font-size: 1.33em;">
              {{ page.intro }}
              </p>


              {{ content }}

              <!-- if blogpost -->
              <p class="info-others">
                  <!-- 
                    span id="postPubDate">{{ post.date | date: "%d/%m/%Y" }}</span 
                  -->
                  
                  <span id="postCategories">

                    {% if post %}
                      {% assign categories = post.categories %}
                    {% else %}
                      {% assign categories = page.categories %}
                    {% endif %}
                    In&nbsp; 
                    {% for category in categories %}
                    <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
                    {% unless forloop.last %}&nbsp;{% endunless %}
                    {% endfor %}
                  </span>
                  <br>
                  <span class="tags">
                    {% if post %}{% assign tags = post.tags %}{% else %}{% assign tags = page.tags %}{% endif %}
                    Tags: {% for tag in tags %}{{ tag }}{% unless forloop.last %}, {% endunless %}{% endfor %}
                  </span>
              </p>

<!-- Comments -->
{% if page.comments != false %}
  {% assign postyear = page.date | date: '%Y' | plus: 0 %}
  {% if postyear > site.commentcutoff %}
    {% include 2023/comments.html %}
  {% else %}
    <p class="info-others"><span id="postComments"><i>(comments disabled)</i></span></p>
  {% endif %}
{% endif %}

              <!-- endif -->


          </article>
  
    </section>

    <!-- move between posts -->
    {%- include 2023/next-prev.html -%}

</main>

