
/*
Base styles for template - WIP
*/


/* site-wide variables */

:root {
    --wrapper-max-width: 1200px;
    --wrapper-side-full: 12%;
    --wrapper-side-small: 0;
}


/* Typography and fonts */

@font-face {
  font-family: 'gilroy-extrabold';
  src: url('/fonts/gilroy/gilroy-extrabold-webfont.woff2') format('woff2'),
       url('/fonts/gilroy/gilroy-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'source sans pro';
  src: url('/fonts/source-sans/sourcesanspro-regular-webfont.woff2') format('woff2'),
       url('/fonts/source-sans/sourcesanspro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



/* base */

a {
  color: var(--haud-darkgold);
  transition: color 0.1s ease-in-out, background 0.1s ease-in-out; }

a:hover {
  color: #000; }

a.load-more {
  font-size: 24px;
  font-weight: bold; }

.spacing {
  height: 2vh;
  clear: both; }

.two.spacing {
  height: 4vh;
  clear: both; }

.three.spacing {
  height: 6vh;
  clear: both; }

.four.spacing {
  height: 8vh;
  clear: both; }

body {
  font-family: "source sans pro"; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'gilroy-extrabold';
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 1.1em;
  margin-bottom: 20px; }

h2 {
  font-size: 72px; }

h3 {
  font-size: 30px; }

h2.white {
  color: #fff; }

p {
  margin-bottom: 30px;
  line-height: 1.5em; }

.appraiser {
  font-family: "source sans pro";
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 13px; }

hr {
  max-width: 100%;
  border-bottom: 1px solid #00e1b6; }

.button {
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  letter-spacing: 1px;
  line-height: 1.4rem;
  padding: 8px 40px 8px 50px;
  font-size: 18px;
  font-weight: bold; }

.button.boxed.white {
  border: 1px solid #fff;
  background: none;
  color: #fff; }

.button.boxed.white:hover {
  color: #333; }

.button.boxed.black {
  border: 2px solid #333;
  background: none;
  color: #333; }

.button.boxed.black:hover {
  color: #fff;
  background: #333; }

a.button.boxed.black::before {
  content: "";
  display: block;
  width: 15px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 25px;
  top: 20px;
  transition: left 0.2s ease; }

.button.boxed.black:hover::before {
  background: #fff;
  left: 28px; }

.button.styled {
  padding: 10px 0;
  background: none;
  z-index: 1;
  transition: background-size .4s ease, color 0.3s ease;
  background-position: center 80%;
  background-size: 0 25%;
  background-repeat: no-repeat;
  color: var(--haud-darkgold);
  background-image: linear-gradient(to bottom, transparent 62%, #000 0); }

.button.styled:hover {
  background-size: 100% 25%;
  color: #000; }

#case-1-button .button.styled {
  color: #dc4f84;
  background-image: linear-gradient(to bottom, transparent 62%, #dc4f84 0); }

#case-1-button .button.styled:hover {
  color: #000; }

#case-2-button .button.styled {
  color: #067289;
  background-image: linear-gradient(to bottom, transparent 62%, #067289 0); }

#case-2-button .button.styled:hover {
  color: #000; }

#case-3-button .button.styled {
  color: #e65975;
  background-image: linear-gradient(to bottom, transparent 62%, #e65975 0); }

#case-3-button .button.styled:hover {
  color: #000; }

#case-4-button .button.styled {
  color: #309d61;
  background-image: linear-gradient(to bottom, transparent 62%, #309d61 0); }

#case-4-button .button.styled:hover {
  color: #000; }

#case-5-button .button.styled {
  color: #d87945;
  background-image: linear-gradient(to bottom, transparent 62%, #d87945 0); }

#case-5-button .button.styled:hover {
  color: #000; }

.styled-button-wrapper {
  position: relative;
  padding: 20px;
  left: -20px; }

.full {
  clear: both;
  padding: 140px 13vw;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  overflow: hidden; }

.full.no-sides {
  padding: 160px 0; }

.full-screen {
  height: 100%; }

.full.grey-blue {
  background: #9ba8ae; }

.full.black {
  background: #000; }

.full.white {
  background-color: rgba(255, 255, 255, 0.9); }

.full.grey.transparent {
  background-color: rgba(0, 0, 0, 0.1); }

.full.dark.transparent {
  background-color: rgba(0, 0, 0, 0.7); }

.full.no-bottom {
  padding-bottom: 0; }

.full.no-top {
  padding-top: 0; }

.full.no-right {
  padding-right: 0; }

.full.grey {
  background: #eee; }

.full.light-grey {
  background: #f5f5f5; }

.full.colored-bg {
  background: #eee;
  transition: background 0.2s ease-in; }

.full.colored-bg.red.appear {
  background: #fc8479; }

.full.colored-bg.purple.appear {
  background: #6e77c6; }

.full.colored-bg.orange.appear {
  background: #f2be8c; }

.full.dark-gold {
  background: var(--haud-darkgold); }

.full.dark {
  background: #000; }

.full.full-height {
  height: 100vh; }

.full.overlap-top {
  margin-top: -80px; }

.full.header p:last-child {
  margin-bottom: 0; }

#head-bg {
  background-image: url(../../images/header-bg.png);
  background-position: right 10%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto; }

#head-bg-h {
  background-image: url(../../images/h-w-u.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto; }

.centered-text {
  text-align: center; }

.white-text {
  color: #fff; }




/*logo*/

#logo {
  position: absolute;
  left: 60px;
  top: 40px;
  z-index: 500; }

#logo a {
  color: #000;
  font-size: 24px;
  font-family: "source sans pro";
  font-weight: bold; }

#home-page #logo {
  transform: translateX(-300px);
  animation: slideText 0.5s ease forwards;
  animation-delay: 1s; }

/* menu */
#white-bar {
  position: absolute;
  width: 100%;
  height: 60px;
  left: 0;
  top: 0;
  z-index: 9;
  background: #fff;
  display: none; }

#menu-controller {
  position: absolute;
  top: 33px;
  right: 20px;
  z-index: 11;
  width: 70px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  overflow: hidden; }

#menu-controller #menu-icon {
  position: relative;
  left: -10px;
  top: -10px;
  line-height: 0.05em;
  width: 70px;
  height: 50px;
  padding: 10px; }

#menu-controller #menu-icon-stack, #menu-controller #menu-icon-close {
  width: 50px;
  height: 30px;
  position: absolute;
  padding-top: 8px; }

#menu-controller #menu-icon-stack {
  z-index: 13; }

#menu-controller #menu-icon-close {
  z-index: 12; }

#menu-wrapper.close-menu #menu-controller #menu-icon-stack {
  z-index: 13; }

#menu-wrapper.close-menu #menu-controller #menu-icon-close {
  z-index: 14; }

#menu-wrapper.open-menu #menu-controller #menu-icon-stack {
  z-index: 12; }

#menu-wrapper.open-menu #menu-controller #menu-icon-close {
  z-index: 13; }

#menu-controller #menu-icon-stack span, #menu-controller #menu-icon-close span {
  display: block;
  height: 2px;
  width: 30px;
  margin-bottom: 6px; }

#menu-controller #menu-icon-stack span {
  background: #fff; }

.white-bg #menu-controller #menu-icon-stack span {
  background: #000; }

#menu-controller #menu-icon-close span {
  background: #000; }

#menu-controller #menu-icon-stack span:nth-child(1) {
  transform: scaleX(0.5);
  transform-origin: left;
  transition: transform-origin 0.2s ease-in-out; }

#menu-controller #menu-icon-stack span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.2s ease-in-out; }

#menu-controller #menu-icon-stack span:nth-child(3) {
  transform: scaleX(1);
  /*  transform-origin: right;
  transition: transform-origin 0.2s ease-in-out;*/ }

#menu-controller:hover #menu-icon-stack span:nth-child(1) {
  transform-origin: right; }

#menu-controller:hover #menu-icon-stack span:nth-child(2) {
  transform: scaleX(0.7); }

#menu-controller:hover #menu-icon-stack span:nth-child(3) {
  transform: scaleX(1);
  /*  transform: scaleX(0.7);
  transform-origin: left;*/ }

#menu-controller #menu-icon-close span {
  position: absolute;
  top: 15px;
  left: 0; }

#menu-controller #menu-icon-close span:nth-child(1) {
  transform: rotate(45deg) translateX(-20px);
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
  opacity: 0; }

#menu-controller #menu-icon-close span:nth-child(2) {
  transform: rotate(-45deg) translateX(20px);
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
  opacity: 0; }

#menu-wrapper.open-menu #menu-controller #menu-icon-close span {
  background: #000; }

#menu-wrapper.open-menu #menu-controller #menu-icon-close span:nth-child(1) {
  transform: rotate(45deg) translateX(0);
  opacity: 1; }

#menu-wrapper.open-menu #menu-controller #menu-icon-close span:nth-child(2) {
  transform: rotate(-45deg) translateX(0);
  opacity: 1; }

#menu-wrapper.close-menu #menu-controller #menu-icon-close span:nth-child(1) {
  animation: IconMenuAnim-4 0.2s ease-in-out;
  /*animation-delay: 0.2s;*/ }

#menu-wrapper.close-menu #menu-controller #menu-icon-close span:nth-child(2) {
  animation: IconMenuAnim-5 0.2s ease-in-out;
  /*animation-delay: 0.2s;*/ }

#menu-wrapper.open-menu #menu-controller #menu-icon-stack span:nth-child(1) {
  opacity: 0;
  transform: scaleX(0.5) translateX(300%);
  transform-origin: left; }

#menu-wrapper.open-menu #menu-controller #menu-icon-stack span:nth-child(2) {
  opacity: 0;
  transform: scaleX(1) translateX(250%); }

#menu-wrapper.open-menu #menu-controller #menu-icon-stack span:nth-child(3) {
  opacity: 0;
  transform: scaleX(1) translateX(-300%); }

#menu-wrapper.close-menu #menu-controller #menu-icon-stack span:nth-child(1) {
  animation: IconMenuAnim-1 0.8s ease-in-out;
  animation-delay: 0s; }

#menu-wrapper.close-menu #menu-controller #menu-icon-stack span:nth-child(2) {
  animation: IconMenuAnim-2 0.8s ease-in-out;
  animation-delay: 0s; }

#menu-wrapper.close-menu #menu-controller #menu-icon-stack span:nth-child(3) {
  animation: IconMenuAnim-3 0.8s ease-in-out;
  animation-delay: 0s; }

@keyframes IconMenuAnim-1 {
  0% {
    opacity: 0;
    transform: scaleX(0.5) translateX(300%); }
  100% {
    opacity: 1;
    transform: scaleX(0.5) translateX(0); } }

@keyframes IconMenuAnim-2 {
  0% {
    opacity: 0;
    transform: scaleX(1) translateX(250%); }
  100% {
    opacity: 1;
    transform: scaleX(1) translateX(0); } }

@keyframes IconMenuAnim-3 {
  0% {
    opacity: 0;
    transform: scaleX(1) translateX(-300%); }
  100% {
    opacity: 1;
    transform: scaleX(1) translateX(0); } }

@keyframes IconMenuAnim-4 {
  0% {
    transform: rotate(45deg) translateX(0);
    opacity: 1; }
  100% {
    transform: rotate(45deg) translateX(-20px);
    opacity: 0; } }

@keyframes IconMenuAnim-5 {
  0% {
    transform: rotate(-45deg) translateX(0);
    opacity: 1; }
  100% {
    transform: rotate(-45deg) translateX(20px);
    opacity: 0; } }

#menu-wrapper.close-menu #menu-controller:hover #menu-icon-stack span:nth-child(1) {
  transform-origin: right; }

#menu-wrapper.close-menu #menu-controller:hover #menu-icon-stack span:nth-child(2) {
  transform: scaleX(0.7); }

#menu-wrapper.close-menu #menu-controller:hover #menu-icon-stack span:nth-child(3) {
  /*  transform: scaleX(0.7);
  transform-origin: left;*/ }

@keyframes CapMenuAnim {
  0% {
    transform: translateY(-37px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes CapMenuAnim-2 {
  0% {
    transform: translateY(0);
    opacity: 1; }
  50% {
    transform: translateY(37px);
    opacity: 0; }
  100% {
    transform: translateY(-37px);
    opacity: 0; } }

#menu-wrapper {
  overflow: auto; }

#menu-wrapper #bg-primary {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  z-index: 10;
  transform: scale(1, 0);
  transform-origin: center top;
  transition: transform 0.5s ease-in-out; }

#menu-wrapper #bg-secondary {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transform: scale(1, 0);
  transform-origin: center top;
  transition: transform 0.5s ease-in-out;
  transition-delay: 0.15s; }

#menu-wrapper.open-menu #bg-primary, #menu-wrapper.open-menu #bg-secondary {
  transform: scale(1, 1); }

#menu-wrapper.close-menu #bg-primary {
  transform-origin: center bottom;
  transform: scale(1, 0);
  transition-delay: 0.3s; }

#menu-wrapper.close-menu #bg-secondary {
  transform-origin: center bottom;
  transform: scale(1, 0);
  transition-delay: 0.4s; }

#menu-content {
  visibility: hidden;
  transition: visibility 0.5s ease; }

#menu-wrapper.open-menu #menu-content {
  visibility: visible;
  transition: visibility 0.5s ease; }

nav#main-menu {
  top: 10%;
  right: 200px;
  position: absolute;
  z-index: 12;
  opacity: 0;
  /*display: none;*/
  transition: opacity 0.2s ease-in-out;
  transition-delay: 0.3s; }

/*#menu-wrapper.open-menu nav#main-menu {
  display: block;
}*/
nav#main-menu ul {
  list-style: none;
  margin-left: 0;
  text-align: right; }

nav#main-menu ul li {
  transform: translateY(-50px);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition-delay: 0.2s; }

#menu-wrapper.open-menu nav#main-menu ul li {
  transform: translateY(0);
  opacity: 1; }

#menu-wrapper.close-menu nav#main-menu ul li {
  animation: MainMenuAnim 1s ease-in-out; }

@keyframes MainMenuAnim {
  0% {
    transform: translateY(0);
    opacity: 1; }
  50% {
    transform: translateY(50px);
    opacity: 0; }
  100% {
    transform: translateY(-50px);
    opacity: 0; } }

nav#main-menu ul li a {
  font-size: 5.8vh;
  font-weight: bold;
  color: #000;
  line-height: 1.25em;
  display: inline-block;
  font-family: 'gilroy-extrabold'; }

nav#main-menu ul li a::after {
  display: block;
  width: 100%;
  height: 3px;
  content: "";
  background: var(--haud-darkgold);
  position: relative;
  top: -4vh;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in-out; }

nav#main-menu ul li a:hover::after {
  transform: scaleX(1); }

nav#main-menu ul li ul {
  margin-left: 30px;
  margin-bottom: 5px; }

nav#main-menu ul li ul li a {
  font-size: 3vh;
  color: #000;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.7em; }

nav#main-menu ul li ul li a::after {
  top: -2.5vh;
  height: 2px; }

#menu-wrapper.open-menu nav#main-menu {
  opacity: 1; }

#contact-info {
  position: absolute;
  left: 60px;
  bottom: 50px;
  z-index: 12;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.5s; }

#contact-info a {
  color: #000; }

#contact-info a:hover {
  color: var(--haud-darkgold); }

#socials {
  position: absolute;
  bottom: 40px;
  right: 200px;
  z-index: 12; }

#socials ul li {
  list-style: none;
  float: left;
  margin-bottom: 3vh;
  opacity: 0;
  transform: translateY(-40px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition-delay: 0.3s; }

#socials ul li a {
  font-size: 3vh;
  font-size: calc(12px + 1.5vh);
  padding: 10px 0;
  margin-left: 30px;
  color: #000;
  transition: color 0.1s ease-in-out; }

#socials ul li a:hover {
  color: var(--haud-darkgold); }

#menu-wrapper.open-menu #socials ul li {
  opacity: 1;
  transform: translateY(0); }

#menu-wrapper.close-menu #socials ul li {
  animation: SocialsAnim 1s ease; }

@keyframes SocialsAnim {
  0% {
    transform: translateY(0);
    opacity: 1; }
  50% {
    transform: translateY(40px);
    opacity: 0; }
  100% {
    transform: translateY(-40px);
    opacity: 0; } }

#menu-wrapper.open-menu p#copyright, #menu-wrapper.open-menu #contact-info {
  opacity: 1; }

#menu-wrapper.close-menu p#copyright, #menu-wrapper.close-menu #contact-info {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  transition-delay: 0.1s; }

/* form */
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  padding: 15px;
  height: 3rem;
  margin-bottom: 1.875rem; }

form input[type="text"], form input[type="password"], form input[type="date"], form input[type="datetime"], form input[type="datetime-local"], form input[type="month"], form input[type="week"], form input[type="email"], form input[type="number"], form input[type="search"], form input[type="tel"], form input[type="time"], form input[type="url"], form textarea {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: #fff; }

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea:focus {
  background: none;
  border: 1px solid #fff; }

form.dark input[type="text"], form.dark input[type="password"], form.dark input[type="date"], form.dark input[type="datetime"], form.dark input[type="datetime-local"], form.dark input[type="month"], form.dark input[type="week"], form.dark input[type="email"], form.dark input[type="number"], form.dark input[type="search"], form.dark input[type="tel"], form.dark input[type="time"], form.dark input[type="url"], form.dark textarea {
  background: none;
  border: 1px solid #ccc;
  color: #333; }

form.dark input[type="text"]:focus, form.dark input[type="password"]:focus, form.dark input[type="date"]:focus, form.dark input[type="datetime"]:focus, form.dark input[type="datetime-local"]:focus, form.dark input[type="month"]:focus, form.dark input[type="week"]:focus, form.dark input[type="email"]:focus, form.dark input[type="number"]:focus, form.dark input[type="search"]:focus, form.dark input[type="tel"]:focus, form.dark input[type="time"]:focus, form.dark input[type="url"]:focus, form.dark input[type="color"]:focus, form.dark textarea:focus {
  background: none;
  border: 1px solid #999; }

form textarea {
  min-height: 150px; }

input.button:hover {
  color: #eee; }

label.error {
  position: relative;
  top: -25px;
  color: red; }


/* end of base */



/* Post */

.posts .columns {
  padding: 0; }

.post {
  background: #fff;
  padding: 80px 60px 0;
  position: relative;
  height: 350px; }

.post h3 {
  font-size: 28px;
  margin-bottom: 10px; }

.post .info-author {
  color: #666;
  margin-bottom: 10px;
  font-size: 14px;
  font-style: italic; }

.post .info-others span {
  font-family: montserrat;
  font-size: 13px;
  margin-right: 20px; }

.post .info-author a {
  color: #666; }

.post .info-others a {
  color: #333; }

.post-desc {
  position: relative;
  z-index: 10; }

.post-image-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden; }

.post-image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transform: scale(1.1);
  transition: all 0.5s ease; }

.post-image-1 {
  background: url(../../images/@stock/blog-1.jpg) center center no-repeat;
  background-size: cover; }

.post-image-2 {
  background: url(../../images/@stock/blog-2.jpg) center center no-repeat;
  background-size: cover; }

.post-image-3 {
  background: url(../../images/@stock/blog-3.jpg) center center no-repeat;
  background-size: cover; }

.post-image-4 {
  background: url(../../images/@stock/blog-4.jpg) center center no-repeat;
  background-size: cover; }

.post-image-5 {
  background: url(../../images/@stock/blog-5.jpg) center center no-repeat;
  background-size: cover; }

.post-image-6 {
  background: url(../../images/@stock/blog-6.jpg) center center no-repeat;
  background-size: cover; }

.post-image-7 {
  background: url(../../images/@stock/blog-7.jpg) center center no-repeat;
  background-size: cover; }

.post-image-8 {
  background: url(../../images/@stock/blog-8.jpg) center center no-repeat;
  background-size: cover; }

.post-image-9 {
  background: url(../../images/@stock/blog-9.jpg) center center no-repeat;
  background-size: cover; }

.post.featured h3 {
  font-size: 3.5vw; }

.post.featured {
  min-height: 400px;
  height: auto;
  padding-right: 150px; }

.post:hover, .post.featured {
  color: #fff;
  background: var(--haud-darkgold); }

.post:hover .info-author, .post.featured .info-author {
  color: #fff; }

.post:hover a, .post.featured a {
  color: #fff; }

.post:hover a.button, .post.featured a.button {
  color: #fff;
  border: 1px solid #fff; }

.post:hover a.button:hover, .post.featured a.button:hover {
  color: #000;
  background: #fff; }

.post:hover .post-image, .post.featured .post-image {
  opacity: 0.9;
  filter: grayscale(1);
  mix-blend-mode: multiply;
  transform: scale(1); }

body.single .post {
  color: #fff;
  background: var(--haud-darkgold);
  height: auto;
  padding-top: 150px;
  padding: 150px 0 100px; }

body.single .post .post-image {
  opacity: 0.9;
  filter: grayscale(1);
  mix-blend-mode: multiply;
  transform: scale(1); }

body.single .post a, body.single .post .info-author {
  color: #fff; }

.post-content p.post-intro {
  font-size: 28px;
  line-height: 1.4em; }

body.single .post-content p, body.single .post-content blockquote, body.single .post-content ul, body.single .post-content ol {
  margin-bottom: 30px; }

.tags a {
  padding-right: 3px; }

.comments-wrapper ul.comments {
  margin-left: 0; }

.comments-wrapper ul.comments li {
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 0 0;
  list-style: none; }

.comments-wrapper ul.comments .meta .avatar {
  float: left;
  padding: 5px 10px 0 0; }

.comments-wrapper ul.comments .meta .name {
  display: block; }

.comments-wrapper ul.comments .meta .datetime {
  font-size: 0.875rem;
  color: #999; }

.comments-wrapper ul.comments ul.children li {
  border-bottom: none;
  border-top: 1px solid #eee; }

.comments p.info {
  margin-bottom: 20px; }

nav.wrapper {
  padding: 100px 10%;
  background: #f5f5f5;
  overflow: hidden; }

nav.wrapper a span.sub-title {
  display: block;
  color: #000; }

nav.wrapper a {
  white-space: nowrap; }

nav.wrapper a span.title {
  font-size: 24px;
  font-weight: bold;
  font-family: montserrat;
  text-transform: uppercase;
  color: #000;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis; }

nav.wrapper a.previous {
  float: left;
  display: block;
  width: 100%; }

nav.wrapper a.next {
  float: right;
  text-align: right;
  display: block;
  width: 100%; }

nav.wrapper a.previous i {
  position: relative;
  left: -20px;
  float: left;
  display: block;
  top: 10px;
  font-size: 36px;
  line-height: 36px;
  color: #000; }

nav.wrapper a.next i {
  position: relative;
  right: -20px;
  float: right;
  display: block;
  top: 10px;
  font-size: 36px;
  line-height: 36px;
  color: #000; }

nav.wrapper a:hover i, nav.wrapper a:hover span {
  color: var(--haud-darkgold); }

.posts.archive .post {
  padding: 40px 40px 20px; }

.posts.archive .post-image {
  display: none; }

.posts.archive .post:hover {
  background: none; }

.posts.archive .post:hover {
  color: var(--haud-darkgold);
  background: none; }

.posts.archive .post:hover .info-author {
  color: var(--haud-darkgold); }

.posts.archive .post:hover a {
  color: var(--haud-darkgold); }

.posts.tag-archive .post {
  padding: 40px 40px 20px; }

.posts.tag-archive .post-image {
  display: none; }

.posts.tag-archive .post:hover {
  background: none; }

.posts.tag-archive .post:hover {
  color: var(--haud-darkgold);
  background: none; }

.posts.tag-archive .post:hover .info-author {
  color: var(--haud-darkgold); }

.posts.tag-archive .post:hover a {
  color: var(--haud-darkgold); }

.posts.category-archive .post {
  padding: 40px 40px 20px; }

.posts.category-archive .post-image {
  display: none; }

.posts.category-archive .post:hover {
  background: none; }

.posts.category-archive .post:hover {
  color: var(--haud-darkgold);
  background: none; }

.posts.category-archive .post:hover .info-author {
  color: var(--haud-darkgold); }

.posts.category-archive .post:hover a {
  color: var(--haud-darkgold); }

/* end of post */


/* Dug hacks */

.gallery2 {padding:0;width: 100%;margin-bottom: 1em;}
.gallery2 img {padding:0;margin: 0 1% 1px 0;width: 48%;}

.gallery3 {padding:0;width: 100%;margin-bottom: 1em;}
.gallery3 img {padding:0;margin: 0 1px 1px 0;width: 32%;}

body.single .post-content p, body.single .post-content blockquote p {
  /* margin: 0; */
}

blockquote {
  margin: 1rem -4rem 1rem -2rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
  font-size: 150%;
}

div {border:0px solid red;}

dl {
  display: flex;
  flex-flow: row wrap;
  margin:1em 0 1em 0;
}
dt {
  flex-basis: 20%;
  text-align: left;
  text-transform: uppercase;
}
dd {
  flex-basis: 70%;
  flex-grow: 1;
  margin: 0;
}

.heroimagecaption {
  width: 66%;
  float: right;
  font-size: x-small;
  text-align: left;
  font-weight: bold;
  margin: 1em 0 3em 0;
}

.imagecaption {
  width: 100%;
  float: right;
  text-align: left;
  font-size: x-small;
  font-weight: bold;
  margin: -20px 0 3em 0;
}

.footnotes {
  font-size: small;
}

.tight {
  padding: 0;
  margin: 0;
}

