/* base */

body { font-family: "source sans pro"; }

h1, h2, h3, h4, h5, h6 { font-family: 'gilroy-extrabold'; font-weight: bold; letter-spacing: 0px; line-height: 1.1em; margin-bottom: 20px; }
h2 { font-size: 72px; }
h3 { font-size: 30px; }
h2.white { color: #fff; }
p { margin-bottom: 30px; line-height: 1.5em; }

a { text-decoration:none; color: var(--haud-darkgold); transition: color 0.1s ease-in-out, background 0.1s ease-in-out; }
a:hover { color: #000; }
a.load-more { font-size: 24px; font-weight: bold; }

hr { max-width: 100%; border-bottom: 1px solid #00e1b6; }


.button { text-transform: uppercase; position: relative; z-index: 1; letter-spacing: 1px; line-height: 1.4rem; padding: 8px 40px 8px 50px; font-size: 18px; font-weight: bold; }
.button.boxed.white { border: 1px solid #fff; background: none; color: #fff; }
.button.boxed.white:hover { color: #333; }
.button.boxed.black { border: 2px solid #333; background: none; color: #333; }
.button.boxed.black:hover { color: #fff; background: #333; }

a.button.boxed.black::before { content: ""; display: block; width: 15px; height: 2px; background: #000; position: absolute; left: 25px; top: 20px; transition: left 0.2s ease; }
.button.boxed.black:hover::before { background: #fff; left: 28px; }
.button.styled { padding: 10px 0; background: none; z-index: 1; transition: background-size .4s ease, color 0.3s ease; background-position: center 80%; background-size: 0 25%; background-repeat: no-repeat; color: var(--haud-darkgold); background-image: linear-gradient(to bottom, transparent 62%, #000 0); }
.button.styled:hover { background-size: 100% 25%; color: #000; }

#case-1-button .button.styled { color: #dc4f84; background-image: linear-gradient(to bottom, transparent 62%, #dc4f84 0); }
#case-1-button .button.styled:hover { color: #000; }
#case-2-button .button.styled { color: #067289; background-image: linear-gradient(to bottom, transparent 62%, #067289 0); }
#case-2-button .button.styled:hover { color: #000; }
#case-3-button .button.styled { color: #e65975; background-image: linear-gradient(to bottom, transparent 62%, #e65975 0); }
#case-3-button .button.styled:hover { color: #000; }
#case-4-button .button.styled { color: #309d61; background-image: linear-gradient(to bottom, transparent 62%, #309d61 0); }
#case-4-button .button.styled:hover { color: #000; }
#case-5-button .button.styled { color: #d87945; background-image: linear-gradient(to bottom, transparent 62%, #d87945 0); }
#case-5-button .button.styled:hover { color: #000; }

.styled-button-wrapper { position: relative; padding: 20px; left: -20px; }


