/*
Base styles for template - WIP
*/

/* wrapper and grid intents etc. site-wide variables */

:root {
    --wrapper-max-width: 1200px;
    --wrapper-side-full: 16.5%;
/*  --wrapper-side-small: 16dp; */
    --wrapper-side-small: 1em;

/*  colour variables  */
    --mc-lightgray: #eaeaea;
    --mc-lightblue: #BFD6E9;
    --haud-darkgold: #af9568;
    --but-brdr-col: #0b0c0c;
    --but-brdr-col-hover: var(--haud-darkgold);
}

/*  headerbanner  */

header {
    width: auto;
    height: 62px;
    background-color: var(--mc-lightgray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-side-small);
}

#glttBanner {display:none;}
/* Desktop */
@media (min-width: 769px) {
    header {
        width: auto;
        height: 62px;
        background-color: var(--mc-lightgray);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 var(--wrapper-side-full);
    }
    /* dug logo and title position */
    #identity img:first-child { height: 42px; margin: 0 1em 0 0;}
    #glttBanner {display:inline-block;height: 20px;padding-left:4%;}
}

/* full width */
#identity, #headernavLinks { display: flex; align-items: center; }

/* mobile (default) */
#identity img:first-child { height: 42px; margin: 0 1em 0 0;}

/* case buttons */
#headernavLinks { padding: 0.4em 0 0.4em 0; }
#headernavLinks img {height:19px;padding-top:3px;}
#headernavLinks a {background-color: transparent;border:0px solid red;padding:0 0.5em 0 0.5em;}
#headernavLinks a:first-child {border-right:2px solid var(--but-brdr-col);}
#headernavLinks a:last-child {border-left:2px solid var(--but-brdr-col);}

body { padding:0;margin:0; }

main { margin:0 0 2em 0; }

main img { width:100%; }

nav.first {
    border-top:8px solid var(--mc-lightblue);
    padding:0;
    margin:0 var(--wrapper-side-small) 0 var(--wrapper-side-small);
}

/* Default mobile */
.wrapper {
    padding:0 var(--wrapper-side-small) 0 var(--wrapper-side-small);
}
/* Desktop */
@media (min-width: 769px) {
    .wrapper {
        padding:0 var(--wrapper-side-full) 0 var(--wrapper-side-full);
    } 
    nav.first {
        border-top:8px solid var(--mc-lightblue);
        padding:0;
        margin:0 var(--wrapper-side-full) 0 var(--wrapper-side-full);
    }
}



/* 
to make smaller header images? 
@media (max-width: 768px) {
  #logo {
    margin-top: var(--wrapper-side-small);
    margin-left: var(--wrapper-side-small);
  }
}
*/

/* pagination */

nav#postPagination {
  padding:1.5em 0 0 0;
  text-align: center;
}

.pagination .button {  }

/*
.pagination
.load-more 
.button 
.styled
*/


/* footer structure and styles - need to pull font styling out of here */


footer.wrapper {
    margin-top:0.5em;
    padding: 0 var(--wrapper-side-small) 0 var(--wrapper-side-small);
}

#siteFooterDivider {
    border-top: 2px solid var(--mc-lightgray);
    margin: 0 var(--wrapper-side-small) 1em var(--wrapper-side-small);
}
/* Desktop */
@media (min-width: 769px) {
    #siteFooterDivider { margin: 0 var(--wrapper-side-full) 1em var(--wrapper-side-full); }
}


.social-media-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* aligns to the left */
    list-style-type: none;
    padding: 0;
    margin-top:1em;
}

.social-media-list li {
    margin: 0;
}

.social-media-list a {
    background: none;
    text-decoration: none;
    color: #999;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.social-media-list .svg-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    fill: #999;
    background: none;
}

.social-media-list .username, .social-media-list li a span:not(.username) {
    font-size: 14px;
    font-weight: bold;
}

.social-media-list a:hover {
    color: #333; /* darker text on hover */
}

.social-media-list a:hover .svg-icon {
    fill: #333; /* darker icon on hover */
}

/* Desktop */
@media (min-width: 769px) {

    footer.wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; /* Allow the items to wrap to the next line */
        padding: 0 var(--wrapper-side-full) 2em var(--wrapper-side-full);
    }
    .social-media-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* aligns to the left */
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}


/* Default mobile */
.heroimagecaption {
  width: auto;
  font-size: x-small;
  font-weight: bold;
  margin: 0.5em 0 0 0;
}
/* Desktop */
@media (min-width: 769px) {
    .heroimagecaption { width: 66%; }
}


/* figures used in post layout */

figure {
    width: 100%;
    margin:1em 0 0 0;padding:0;
    border:0px solid red;
}
figure img {
    display: block;
    width: 100%;
}
figcaption {
    display: block;
    margin: 0;
    padding: 1em;
    color: #333;
    background: #E5E4E2;
    font-size: small;
    text-transfxorm: uppercase;
    font-weighxt: bold;
}

.questionBlock {
    width: auto;
    list-style: none;
    font-size: smaller;
    border-left:1px solid var(--mc-lightblue);
    margin: 0.25em 0 1.5em 0;
    padding:0 0 0 1em;
}

.questionBlock li {
    margin: 0 0 0.5em 0;
    padding:0;
}
/* Desktop */
@media (min-width: 769px) {
    .questionBlock {
        width: 66%;
        margin: 0.25em 0 1.5em 0;
        padding:0 0 0 1em;
    }
}


.imagecaption {
  font-size: small;
  border-left:1px solid var(--mc-lightblue);
  margin: 0.25em 0 1.5em 0;
  padding:0 0 0 10px;
}


/* Designit ppt bio card styles */

#bioCard dt#portrait, #bioCard dd#aboutSection, #bioCard dd#skillsAndClients {display:block; border: none; margin:0;padding:0;}

#bioCard #portrait img {
  filter: grayscale(100%) brightness(100%);
  height:360px;
  object-fit: cover; 
}
#bioCard dd#aboutSection { font-size: medium; }
#bioCard dd#skillsAndClients { font-size: small; }

/* Desktop */
@media (min-width: 769px) {
    #bioCard ul {margin:0;padding:0 0 0 1.5em;}
    #bioCard #portrait img {
        height:100%;
        object-fit: cover; 
    }
    #bioCard {
        display: flex;
        width: 100%;
        border: 1px solid var(--mc-lightgray); /* for visualization */
        gap:0;
    }
    #bioCard #portrait {
        flex-basis: 37.5%;
    }
    #bioCard dd#aboutSection {
        flex-basis: 37.5%;
        padding:1rem 0.5em 1em 2em;
    }
    #bioCard dd#skillsAndClients {
        flex-basis: 25%;
        margin-left: auto;
        padding:1.3rem 0.5em 1em 1em;
    }
}




/* Dug hacks - can we delete these? */

.gallery2 {padding:0;width: 100%;margin-bottom: 1em;}
.gallery2 img {padding:0;margin: 0 1% 1px 0;width: 48%;}
.gallery3 {padding:0;width: 100%;margin-bottom: 1em;}
.gallery3 img {padding:0;margin: 0 1px 1px 0;width: 32%;}

.footnotes { font-size: small; }

