/*
Base styles for template - WIP
*/

/* wrapper and grid intents etc. site-wide variables */

:root {
    --wrapper-max-width: 1200px;
    --wrapper-side-full: 16.5%;
/*  --wrapper-side-small: 16dp; */
    --wrapper-side-small: 0.5em;

/*  colour variables  */
    --mc-lightgray: #eaeaea;
    --mc-lightblue: #BFD6E9;
    --haud-darkgold: #af9568;
    --but-brdr-col: #0b0c0c;
    --but-brdr-col-hover: #af9568;
}

/*  headerbanner  */

header {
    width: 68%;
    height: 62px;
    background-color: var(--mc-lightgray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-side-full);
}

/* full width */
#identity, #headernavLinks { display: flex; align-items: center; }

/* dug logo and title position */
#identity img:first-child { height: 42px; margin: 0 1em 0 0;}
#glttBanner {height: 20px;padding-left:4%;}

/* case buttons */
#headernavLinks { padding: 0.5em 0 0.5em 0; }
#headernavLinks img {height:20px;padding-top:3px;}
#headernavLinks a {background-color: transparent;border:0px solid red;padding:0 0.5em 0 0.5em;}
#headernavLinks a:last-child {border-left:2px solid #7c8185;}

body { padding:0;margin:0; }

main {
    margin:0 0 2em 0;
    padding:0 var(--wrapper-side-full) 0 var(--wrapper-side-full);
}

main img { width:100%; }

nav.first {
    border-top:8px solid var(--mc-lightblue);
    padding:0;
    margin:0 var(--wrapper-side-full) 0 var(--wrapper-side-full);
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .wrapper {
        padding:0 var(--wrapper-side-small) 0 var(--wrapper-side-small);
    } 
}

/* to make smaller header images? 
@media (max-width: 768px) {
  #logo {
    margin-top: var(--wrapper-side-small);
    margin-left: var(--wrapper-side-small);
  }
}
*/

/* pagination */

nav#postPagination {
  padding:1.5em 0 0 0;
  text-align: center;
}

.pagination .button {  }

/*
.pagination
.load-more 
.button 
.styled
*/


/* footer structure and styles - need to pull font styling out of here */

footer.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-side-full) 2em var(--wrapper-side-full);
}

.social-media-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* aligns to the left */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-media-list li {
    margin: 0;
}

.social-media-list a {
    background: none;
    text-decoration: none;
    color: #999;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.social-media-list .svg-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    fill: #999;
    background: none;
}

.social-media-list .username, .social-media-list li a span:not(.username) {
    font-size: 14px;
    font-weight: bold;
}

.social-media-list a:hover {
    color: #333; /* darker text on hover */
}

.social-media-list a:hover .svg-icon {
    fill: #333; /* darker icon on hover */
}

@media (max-width: 600px) {
    footer.wrapper {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 var(--wrapper-side-small) 0 var(--wrapper-side-small);
    }
    .social-media-list {
        margin-top:1em;
        align-items: flex-start;
    }
}


/* Dug hacks - can we delete these? */

.gallery2 {padding:0;width: 100%;margin-bottom: 1em;}
.gallery2 img {padding:0;margin: 0 1% 1px 0;width: 48%;}

.gallery3 {padding:0;width: 100%;margin-bottom: 1em;}
.gallery3 img {padding:0;margin: 0 1px 1px 0;width: 32%;}


blockquote {
  padding: 0.5rem 0 0.5rem 1.5rem;
  font-size: 133%;
  border-left: 4px solid #E5E4E2;
}

div {border:0px solid red;}


.heroimagecaption {
  width: 66%;
  font-size: x-small;
  font-weight: bold;
  margin: 0.5em 0 0 0;
}

.imagecaption {
  width: 100%;
  float: right;
  text-align: left;
  font-size: x-small;
  font-weight: bold;
  margin: -20px 0 3em 0;
}

.footnotes {
  font-size: small;
}

.tight {
  padding: 0;
  margin: 0;
}

