/*
Styles to format the exceptions on the LT index page
*/

/* apply these to section tags */
  .two-thirds h2, .two-thirds p { width: 66%; }



/* Mobile default */
#leadershipIndex .callOut { padding:0; font-size: small; }
#leadershipIndex .callOut h3 { margin:0; padding: 0.7em 1.5em 0.7em 1.5em; color: #666; background-color: var(--mc-lightblue); font-size: x-small; border-bottom:4px solid white; text-transform: uppercase; font-weight: bold; }
#leadershipIndex .callOut ul { list-style-type: none;padding: 0;margin: 0; }
#leadershipIndex .callOut li { background-color: var(--mc-lightgray); padding: 0.6em 1em 0.6em 1em; margin:0; border-bottom:1px solid white; }
#leadershipIndex .callOut li a { color:#000; text-decoration: none;}

/* Desktop */
@media (min-width: 769px) {
    #leadershipIndex .callOut { float: right; width: 33%; margin:0 0 1.5em 1.5em; padding:0; font-size: small; }
}

/* LT comparison box / list */

  dt { 
    width:100%; 
    border:1px solid var(--haud-darkgold);
    margin-top:2em;
  }

  .starList h3 { color:var(--haud-darkgold); }

  .roleDescriptionLink { 
    align-self: center;
    width:30%;
    margin:0;
    padding:0;
    font-size: small;
  }

  .caseLink { 
    display: block; 
    padding:0;margin:0.5em 0 0 0;
    font-weight: bold; 
    text-transform: uppercase; 
  }

  ul.starList {
    list-style-type: none;
    padding:0;
    margin:0;
  }


/* Mobile default */
ul.actionsList {
    list-style-type: square;
    border:0px solid red; 
    background-image: url(/i/goldArrowDown.svg);
    background-repeat: no-repeat; 
    background-position: center bottom;
    background-size: 40%;
    padding:1em 1em 2em 1em;"
}
/* Desktop */
@media (min-width: 769px) {
  ul.actionsList {
    list-style-type: square;
    border:0px solid red; 
    background-image: url(/i/goldArrow.svg);
    background-repeat: no-repeat; 
    background-position: center right;
    background-size: 5%;
    padding:1em 3.5em 1em 1em;"
  }
}

  ul.teamImpactsList {
    list-style-type: square;
    border:0px solid red; 
    padding:1em;"
  }

/* Mobile default */
  dt, dd {display: block; margin:0; padding:0;}
  .starList {
    display: block;
    width: 100%; /* Ensuring the UL takes full width of single column */
  }
  .starList > li:first-child { flex: none; display: block; /* No flex on mobile */ }
  .starList > li:last-child { flex: none; display: block; /* No flex on mobile */ }
  .teamImpactsLI { padding-left:0; }
  dt, dd { width:auto;padding:0.5em; }
  dt h3 { 
    width:auto;
    margin:0;
    padding:16px;
    text-transform: uppercase;
  }
  .roleDescriptionLink { 
    align-self: normal;
    width:auto;
    padding:16px;
  }

/* Desktop */
@media (min-width: 769px) {
  dt { margin-top:4em; }
  dt, dd { display: flex; }
  dt h3 { 
    width:65%;
    margin:0;
    padding:0.75em 1em 0.75em 1em;
    text-transform: uppercase;
  }
  .starList {
    display: flex;
    width: 100%; /* Ensuring the UL takes up the full width of the DD. */
    padding: 0; /* Resetting any default padding */
    list-style-type: none; /* Removing the default bullet points */
  }
  .starList > li:first-child { flex: 0 0 45%; /* This means: don't grow, don't shrink, stay at 30% width */ }
  .starList > li:last-child { flex: 1; /* This means: take up the remaining space */ }
  .teamImpactsLI { padding-left:2em; }

}

  .starList li li {
    font-size: 90%;
  }
