---
layout: default
date: 2023-10-5
theme: "designLeadership"
parent: "cases_leadership"

themes:
  - designLeadership
  - sdInGov
  - strategy
  - serviceDesign
  - remoteTeams

bodyclass: "cases"
---

<!-- the leadership index page has exception styles so declared ID -->
<main id="leadershipIndex" class="wrapper">
    <section>

<h1 id="headTitle">
    Design leadership
</h1>

<p style="padding-top:0.75em;">
I was recently interviewed about my leadership practice (questions link to lower down on this page).</p>

<ul class="questionBlock">
  <li><strong>Q:</strong> <a href="#Q1">Dug, what are five things that matter?</a></li>
  <li><strong>Q:</strong> <a href="#Q2">What are the scale and scope of the teams that you’ve grown and managed? What are some of the challenges you faced?</a></li>
  <li><strong>Q:</strong> <a href="#Q3">What kind of leadership team do you thrive in?</a></li>
</ul>

<p>
 I thought the questions were helpful, and writing the answers helped me reflect on my practice. I've included some of them here as a starter-for-ten for customers wanting to know more about what I do. I'll add the questions not listed here to a blog post for further discussion.</p>


{% if page.path contains "_cases_leadership/" %}
<aside class="callOut">
  <h3>My experiences helping teams:</h3>
  <ul>
  {% for role in site.data.roles %}
      <li><a href="#{{- role.idx -}}">&#x2192; {{ role.anon }}</a>&nbsp;{%- if role.uri != "" -%}<a href="/cases/leadership/{{ role.uri }}"><img src="/i/case.svg" alt="Read case" style="width:12px;vertical-align: baseline;"></a>{%- endif -%}</li>
      <!-- role.anon | truncate: 30 -->
  {% endfor %}
  </ul>
</aside>
{% endif %}


<h2 class="emphasisBlock" id="Q1">
  Q: What are five things that matter?</h2>

<p>
  Good teams have principles, and good businesses have purpose. What are the things you carry with you as you grow across engagements? What do you try and develop in design teams?</p>

<h3>1. Do it together</h3>
<p>
  Foster collaboration in the studio and with other disciplines beyond. Individual culture and identity do matter, but assholes scale, and egos can get in the way of growth. If design is on a journey, we're going to go further by valuing the energy of our collective learning and output.</p>

<h3>2. Keep learning</h3>
<p>
  Learning is both one of the most important, and one of the most forgotten elements of leading design. I've been privileged to work with some amazing design minds over the years and all of them have been teachers. From Klee and Breuer's work at the Bauhaus, to Zeldman and Fried's public writings, to LD's work at GDS, the greats have always laid down pedagogical frameworks that have trained and inspired generations of designers after them.</p>
<p>
  We can't all be Jony Ive, but we can all try and frame our leadership in ways that promote our businesses becoming the learning organisations they need to be.</p>

<h3>3. Commit to your passion</h3>
<p>
  A team member once phrased this as "design like you give a shit". He described the importance of caring deeply about one's work, that true innovation and excellence in design can only emerge when designers are genuinely passionate and committed. As leaders we need to create spaces that allow and reward that commitment.</p>

<h3>4. Challenge the frame, find the problem</h3>
<p>
  Your team's job is literally to find the right problem to solve.</p>
<p>
  When you're a designer in a large team, maybe in-house at a large household name company, it can seem like much is set and things just are the way they are. This is especially true in regulated environments like financial services and public sector.</p>
<p>
  You need to challenge that. Every single day. Ask questions. Ask why. Get to the bottom of the problem. When asked by a reporter "what are the limits of design" Charles Eames responded: "what are the limits of problems?"</p>

<h3>5. Build your culture</h3>
<p>
  Design is human agency. Your team needs to believe they are accountable before they can lead work that changes the business or even changes the world a little bit. Building a culture of accountability falls in your lap as leader. There are many techniques and frameworks you can build on but at the core, if your people aren't embracing accountability they'll never be able to open the door that will let them lead the change.</p>

<h2 class="emphasisBlock" id="Q2">
  Q: What are the scale and scope of the teams that you’ve grown and managed? What are some of the challenges you faced?</h2>

<p>
Such a great question:-)</p>

<p>
I had never thought about it in a structured way, so I sat down and considered my experiences with teams in a bit more detail. I've framed the refection in terms of what my teams where able to achieve for the business. Where I've gone deeper, there is a link to a short case study.</p>

<dl id="leadershipRoles">
  {% for role in site.data.roles %}
    <dt id="{{- role.idx -}}">
      <h3>{{- role.idx -}}. {{ role.anon }}</h3>
      <p class="roleDescriptionLink">
        {{ role.myRole }} ({{ role.hands }})<br> 
        {{ role.scale }}&nbsp;at&nbsp;{{ role.orgDescription | downcase }}
        {% if role.uri != "" %}
          <br>
          <a href="/cases/leadership/{{ role.uri }}" class="caseLink">Read case</a>
        {% endif %}
      </p>
    </dt>
    <dd>
      <ul class="starList">
      <li>
        <h3 style="color:var(--haud-darkgold);">Actions</h3>
        <ul class="actionsList">
          {% for action in role.myActions %}
            <li>{{ action }}</li>
          {% endfor %}
        </ul>
      </li>
      <li class="teamImpactsLI">
        <h3 style="color:var(--haud-darkgold);">What impact did my team have?</h3>
        <ul class="teamImpactsList">
          {% for impact in role.teamImpact %}
            <li>{{ impact }}</li>
          {% endfor %}
        </ul>
      </li>
      </ul>
    </dd>
  {% endfor %}
</dl>


<h2 class="emphasisBlock" id="Q3">
  Q: What kind of leadership team do you thrive in?</h2>

<p>
  I like to know what kind of personalities I'll be partnering when I join an organisation...</p>
<ul>
    <li>There are people who are specialists, who tend to frame problems in terms they understand well</li>
    <li>There are those that constantly talk about their last role</li>
    <li>There are people so high-powered you'll never quite understand their master-plan</li>
    <li>There are those that care about business performance above all else</li>
    <li>There are typography geeks</li>
    <li>There are people who are utterly clueless about the importance of design (yes, in 2023)</li>
    <li>There are Simon Sinek fans</li>
    <li>There are assholes</li>
    <li>There are those that deeply and urgently feel the need for sales success</li>
    <li>There are people who love the same sort of things I do (always happy to learn we have Eddie Izzard fans on board)</li>
    <li>There are very scary, seemingly heartless monsters, who would run your team through a blender if it meant winning a contract</li>
    <li>There are people you will learn from every day</li>
    <li>There are those that stand with you and take the hit so your team doesn't suffer</li>
    <li>There are people you would follow off a cliff</li>
    <li>There will be people I don't like, who make things better for everybody</li>
    <li>There are people from different backgrounds like business architecture. These people have a magical understanding of the players in an org and will help you be effective</li>
    <li>There are people I would struggle to share a cab with</li>
    <li>There are people whose culture you will learn as you build together</li>    
    <li>There are people who share my passions</li>
    <li>There are people who continue to surprise me</li>
</ul>

<p>
  I wonder is it the leadership team itself, or the struggles we overcome together that matter?</p>

<p>
  Thinking back to LTs I've worked in, there doesn't seem to be a correlation between the individual personalities of my colleagues and the outcomes from our work together. I have strong friendships and positive growth from working with utter arses, and have been in the most nurturing friendly teams and not grown as a leader at all...</p>

<p>
  I think what makes more of a difference is how we together turn to look at our challenge as one. Bottom line this is a hugely bonding experience, and  I think for this to happen you need to build on some common beliefs and values. Important ones that come to mind include:</p>

<ul>
    <li>Mutual respect for each other and for the craft</li>
    <li>Common belief in the power of design</li>
    <li>Business serves people. Not the other way round.</li>
</ul>

<p>
  A good test of values is to ask a colleague to relate an experience of betrayal. How that question is answered can be a good compass...</p>

<p>
  For teams in a design agency (as opposed to in-house) I would add your position on <em>"user experience"</em> versus <em>"product culture"</em> continuum. I don't want to work with people who put ARR before everything else.</p>

<h2>Finally</h2>
<p>
  It may be worth reflecting on where the leadership team needs to get to before thinking about who to partner with on the journey?</p>
<p>
  How far away is the mountain? How long will it be? How much tension and conflict lie ahead? How Byzantine or Machiavellian are the organisation's politics? How will this team fit inside prevailing trends (like economics or AI, for example)? How much clarity of vision already exists?</p>
<p>
Then as a final checklist we could look at traits to avoid (to be honest, antipatterns might be a good place to start?):</p>

<ul>
    <li>Authoritarian, likes a top-down approach</li>
    <li>When asked, cannot explain why one experience is better than another</li>
    <li>Not generous or empathetic</li>
    <li>Looses temper when confronted with chaos or uncertainty</li>
    <li>There are most likely more here to look out for...</li>
</ul>

<hr>

<p>
As I write this I am reminded of a project (called "Shoulders") that I started and will have to find the time to finish. It's me reflecting on the amazing leaders I've worked with over the last few years, and what I learned from my time with them.</p>

<p>
I would like to be one of those leaders. I would like to work with one of those leaders, and I would like us to be a team of those leaders and provide the broad shoulders needed by our people.</p>


<h2 class="emphasisBlock">
  Want to talk about some of this?</h2>

<p>
You could email Dug at <a href="dug@goodlookslikethis.com">dug@goodlookslikethis.com</a></p>
  
    </section>
</main>

