
@font-face{font-display:swap;font-family:Soehne;font-style:normal;font-weight:300;src:url(/valtech/fonts/soehne-leicht.woff2) format("woff2")}
@font-face{font-display:swap;font-family:Soehne;font-style:italic;font-weight:300;src:url(/valtech/fonts/soehne-leicht-kursiv.woff2) format("woff2")}
@font-face{font-display:swap;font-family:Soehne;font-style:normal;font-weight:400;src:url(/valtech/fonts/soehne-buch.woff2) format("woff2")}
@font-face{font-display:swap;font-family:Soehne;font-style:normal;font-weight:700;src:url(/valtech/fonts/soehne-halbfett.woff2) format("woff2")}
@font-face{font-display:swap;font-family:ValtechNeue;font-style:normal;font-weight:300;src:url(/valtech/fonts/FFF-ValtechNeue-Light.woff2) format("woff2"),url(../fonts/FFF-ValtechNeue-Light.woff) format("woff")}
@font-face{font-display:swap;font-family:ValtechNeue;font-style:normal;font-weight:400;src:url(/valtech/fonts/FFF-ValtechNeue-Book.woff2) format("woff2"),url(../fonts/FFF-ValtechNeue-Book.woff) format("woff")}

body {font-family:Soehne,sans-serif;

font-weight:300;

}

h1,h2,h3,h4,h5,h6,p,small {margin:0 0 1.5rem}
h1,h2 {font-family:ValtechNeue,sans-serif;font-weight:300;line-height:1.2}
h3,h4,h5,h6 {font-weight:400;line-height:1.2}
p {font-size:1.5vw}

@media(max-width:1066.6666666667px){
  p {font-size:16px}
}
@media(min-width:1333.3333333333px){
  p {font-size:20px}
}

h1 {font-size:5vw;line-height:1.1}

@media(max-width:640px){
  h1 {font-size:32px}
}
@media(min-width:1760px){
  h1 {font-size:88px}
}

h2 {font-size:3vw}

@media(max-width:933.3333333333px){
  h2 {font-size:28px}
}
@media(min-width:1600px){
  h2 {font-size:48px}
}

h3 {font-size:3vw}

@media(max-width:800px){
  h3 {font-size:24px}
}
@media(min-width:1200px){
  h3 {font-size:36px}
}

h4 {font-size:3vw}

@media(max-width:666.6666666667px){
  h4 {font-size:20px}
}
@media(min-width:1066.6666666667px){
  h4 {font-size:32px}
}

h5 {font-size:2vw}

@media(max-width:900px){
  h5 {font-size:18px}
}
@media(min-width:1400px){
  h5 {font-size:28px}
}

h6 {font-size:1.8vw}

@media(max-width:888.8888888889px){
  h6 {font-size:16px}
}
@media(min-width:1111.1111111111px){
  h6 {font-size:20px}
}

.lead {font-size:2vw;font-style:italic;font-weight:300}

@media(max-width:800px){
  .lead {font-size:16px}
}
@media(min-width:1300px){
  .lead {font-size:26px}
}

a,p,small {font-weight:300;line-height:1.4}
a {color:#002fa7}
b,strong {font-weight:700}
blockquote {border-right:2px solid #002fa7;color:#363636;display:inline-block;flex-direction:column;font-size:2vw;font-style:italic;font-weight:300;letter-spacing:-.0625rem;line-height:1.4;margin:5rem 0;padding:0 1.875rem;position:relative;quotes:"“" "„" "‘" "‚";text-align:right;white-space:pre-line}

@media(max-width:800px){
  blockquote {font-size:16px}
}
@media(min-width:1500px){
  blockquote {font-size:30px}
}

blockquote:before {content:open-quote;left:3.75rem;top:-3.125rem}
blockquote:after {bottom:-3.125rem;content:close-quote;right:1.875rem}
blockquote:after,blockquote:before {color:#002fa7;font-size:6.25rem;font-size:5vw;font-weight:700;line-height:1;position:absolute}

@media(max-width:1000px){
  blockquote:after,blockquote:before {font-size:50px}
}
@media(min-width:2000px){
  blockquote:after,blockquote:before {font-size:100px}
}

.form .row {justify-content:between;margin:0 -1.25rem}

@media (min-width:58.75rem){
  .form .row {margin:1.875rem -1.25rem}
}

.form .column {padding:0 1.25rem}

@media (max-width:58.749rem){
  .form .column {margin-top:1.875rem}
}

.form .hint-text {color:#666;font-size:.6875rem;margin:.3125rem 0 0 .3125rem}
fieldset {border:none;margin:0;padding:0}
input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],select,textarea {background-color:transparent;border:solid #000;border-radius:0;border-width:0 0 2px;box-shadow:none;font-family:inherit;font-size:1rem;font-weight:500;height:38px;padding:.375rem 0;transition:border .3s ease-out;width:100%}
input[type=email]:active,input[type=email]:focus,input[type=email]:hover,input[type=number]:active,input[type=number]:focus,input[type=number]:hover,input[type=password]:active,input[type=password]:focus,input[type=password]:hover,input[type=search]:active,input[type=search]:focus,input[type=search]:hover,input[type=tel]:active,input[type=tel]:focus,input[type=tel]:hover,input[type=text]:active,input[type=text]:focus,input[type=text]:hover,input[type=url]:active,input[type=url]:focus,input[type=url]:hover,select:active,select:focus,select:hover,textarea:active,textarea:focus,textarea:hover {outline:0}

::placeholder {color:#363636;font-size:90%;font-style:italic}

input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],textarea {appearance:none}
textarea {border-width:2px;height:180px;resize:vertical}
.validation-error {color:#d60042;font-size:.875rem;margin-top:.3125rem;opacity:1;position:relative;transition:opacity .4s}
.validation-error.hide {display:block;margin-top:0;max-height:0;opacity:0}
.input-group {position:relative}
.input-group label {font-size:.875rem;font-weight:500;left:0;pointer-events:none;position:absolute;text-transform:uppercase;top:8px;transition:all .2s ease}
.input-group.required:after {color:#d60042;content:"*";font-size:1.5rem;position:absolute;right:0;top:-.3125rem}
.input-group textarea {margin-top:37px;padding:10px}
.input-group textarea+label {top:10px}
.input-group input:focus~label,.input-group input:not([value=""])~label {color:#888;font-size:.6875rem;top:-12px}
.control {display:block;padding-bottom:.625rem;padding-left:26px;position:relative}
.control:last-child {padding-bottom:0}
.control:active,.control:focus,.control:hover {cursor:pointer;user-select:none}
.control input {opacity:0;position:absolute;z-index:-1}
.control__indicator {background:#fff;border:1px solid #ccc;height:18px;left:0;position:absolute;top:0;transition:all .4s ease-out;width:18px}
.control__indicator:after {content:"";display:none;position:absolute}
.control--checkbox .control__indicator {border-radius:2px}
.control--radio .control__indicator {border-radius:50%}
.control input:focus~.control__indicator,.control:hover input~.control__indicator {border-color:#363636}
.control input:checked~.control__indicator {border:1px solid #363636;color:#363636}
.control input:disabled~.control__indicator {background:#ccc;border:1px solid #666;opacity:.6;pointer-events:none}
.control input:checked~.control__indicator:after {display:block}
.control--checkbox .control__indicator:after {border:solid #666;border-width:0 2px 2px 0;height:10px;left:50%;top:50%;transform:translate(-50%,-55%) rotate(45deg);width:4px}
.control--checkbox input:disabled~.control__indicator:after {border-color:#666}
.control--radio .control__indicator:after {background:#363636;border-radius:50%;height:8px;left:50%;top:50%;transform:translate(-50%,-50%);width:8px}
.control--radio input:disabled~.control__indicator:after {background:#666}
.select {margin-bottom:15px;position:relative}
.select,.select select {display:inline-block;width:100%}
.select select {appearance:none;background-color:transparent;border:solid #000;border-radius:0;border-width:0 0 2px;cursor:pointer;outline:0;padding:0;transition:all .4s ease-out}
.select select:active,.select select:focus,.select select:hover {background-color:#fff}
.select select:disabled {opacity:.5;pointer-events:none}
.select selectoption:first-child {opacity:0}
.select__arrow {border-color:#000 transparent transparent;border-style:solid;border-width:6px 5px 0;height:0;pointer-events:none;position:absolute;right:15px;top:16px;transition:border .3s ease-out;width:0}
.select select:focus~.select__arrow,.select select:hover~.select__arrow {border-top-color:#888}
.select select:disabled~.select__arrow {border-top-color:#ccc}
.select select::-ms-expand {display:none}
.file-input {bottom:0;height:1px;left:50px;opacity:0;overflow:hidden;position:relative;width:1px;z-index:-1}
.file-input__label {display:inline}
.control .required-control-mark,.custom-file-input .required-control-mark {color:#d60042;display:inline-block;transform:scale(1.5)}
.response-text {margin:0}

@media (min-width:58.75rem){
  .response-text {margin:1.875rem 0}
}

.svg-container svg {display:inline-block;height:100%;left:0;position:absolute;top:0;width:100%}
.masthead-scaler {overflow:hidden}
.slide-fade-in {opacity:0;opacity:.01;visibility:hidden}
.location-icon {margin-left:1.5625rem;position:relative;text-decoration:none!important}
.location-icon:before {background:url(/dist/19d6e3d457e7c21f54c0.svg) 50%/contain no-repeat;content:"";height:18px;left:-1.5625rem;position:absolute;top:0;width:18px}

@media (min-width:76.25rem){
  .location-icon:before {top:.1875rem}
}

@keyframes blink{0%{opacity:.1}
20%{opacity:1}
to{opacity:.1}
}
.loading-dots span{animation-duration:1.4s;animation-fill-mode:both;animation-iteration-count:infinite;animation-name:blink}
.loading-dots span:nth-child(2){animation-delay:.2s}
.loading-dots span:nth-child(3){animation-delay:.4s}
.edit-mode .banner-slider{height:55vw}
.edit-mode .banner-slider__container{height:39.6vw}
.edit-mode .services-block__container{height:52vw}
.edit-mode .services-block__intro__heading{font-size:40px}
@media (min-width:58.75rem){.edit-mode .site-nav__icons{top:2.5rem}
.edit-mode .masthead-contact,.edit-mode .masthead-secondary,.edit-mode .masthead-subnav,.edit-mode .masthead-tertiary{height:55vw}
.edit-mode .masthead-contact__container,.edit-mode .masthead-secondary__container,.edit-mode .masthead-subnav__container,.edit-mode .masthead-tertiary__container{height:39.6vw}
.edit-mode .masthead-people__container,.edit-mode .masthead-primary__inner__wrap,.edit-mode .masthead-primary__media,.edit-mode .masthead-two-columns-cta__media{height:39.6vw;min-height:auto}
}
.edit-mode .ticker-block{padding-left:0}
.site-content{display:block}
@media (max-width:63.999rem){.site-content{padding-top:66px}
}
@media (min-width:58.75rem){.site-content{min-height:calc(6vh + 150px)}
}
.site-content:before{background-color:#f3f2ef;border-bottom:1px solid #d1d3ca;content:"";height:66px;left:0;position:fixed;top:0;width:100%;z-index:800}
@media (min-width:64rem){.site-content:before{display:none}
}
@media (min-width:58.75rem){.container{margin:0 auto;width:84vw}
}
.row{display:flex;flex-direction:column;justify-content:space-between}
@media (min-width:58.75rem){.row{flex-direction:row}
}
@media (max-width:63.999rem){.row--reverse{flex-direction:column-reverse}
}
.column.eight,.column.eleven,.column.five,.column.four,.column.nine,.column.one,.column.one-half,.column.one-third,.column.seven,.column.six,.column.ten,.column.three,.column.two,.column.two-thirds{width:100%}
@media (min-width:58.75rem){.column.full{width:100%}
.column.one-half{width:50%}
.column.one-third{width:33.3333333333%}
.column.two-thirds{width:66.6666666667%}
.column.one{width:8.3333333333%}
.column.two{width:16.6666666667%}
.column.three{width:25%}
.column.four{width:33.3333333333%}
.column.five{width:41.6666666667%}
.column.six{width:50%}
.column.seven{width:58.3333333333%}
.column.eight{width:66.6666666667%}
.column.nine{width:75%}
.column.ten{width:83.3333333333%}
.column.eleven{width:91.6666666667%}
}
.column--centered{display:flex;justify-content:center}
.site-footer{background-color:#000;color:#fff;line-height:1.5;z-index:700}
@media (min-width:58.75rem){.site-footer{padding-right:64px}
}
.site-footer__container{padding:0 1.5rem}
@media (min-width:120.001rem){.site-footer__container{margin:0 auto;max-width:84vw;padding:0}
}
.site-footer__links{align-items:center;display:flex;flex-wrap:wrap;justify-content:space-between;padding:2.8125rem 0 2.25rem}
@media (max-width:58.749rem){.site-footer__links{align-items:flex-start;flex-direction:column;height:auto;justify-content:flex-start;padding-bottom:2.75rem;padding-top:2.4375rem}
}
@media (max-width:33.75rem){.site-footer__links{padding-bottom:1.75rem}
}
.site-footer__column{display:flex}
.site-footer__brand,.site-footer__brand-wrapper{display:flex;flex-direction:column}
.site-footer__brand-wrapper{height:100%}
.site-footer__brand-logo{fill:#fff}
@media (max-width:58.749rem){.site-footer__brand-logo{margin-bottom:1rem}
}
.site-footer__brand-logo svg{width:158px}
@media (max-width:58.749rem){.site-footer__brand-logo svg{width:118px}
}
.site-footer__brand-contact{align-items:center;display:flex;height:100%}
.site-footer__free-columns{flex-grow:2;justify-content:space-evenly}
@media (max-width:58.749rem){.site-footer__free-columns{flex-wrap:wrap;justify-content:space-between;margin-top:1rem}
}
.site-footer__free-columns-col{display:flex;flex-direction:column}
@media (max-width:33.75rem){.site-footer__free-columns-col{flex:0 50%;margin-top:2rem}
}
@media (min-width:33.75rem){.site-footer__free-columns-col{flex:0 26%}
}
@media (min-width:58.749rem){.site-footer__free-columns-col{align-items:center}
}
.site-footer__free-columns-col-content{display:flex;flex-direction:column}
.site-footer__free-columns-title{font-weight:700;margin-bottom:1rem;text-transform:uppercase}
.site-footer__free-columns-list{display:flex;flex-direction:column}
.site-footer__free-columns-list span{font-size:1vw}
@media(max-width:1600px){.site-footer__free-columns-list span{font-size:16px}
}
@media(min-width:1800px){.site-footer__free-columns-list span{font-size:18px}
}
@media (max-width:58.749rem){.site-footer__free-columns-list span{margin-top:.5rem}
}
.site-footer__free-columns-list a:hover{color:#00c8ff}
.site-footer__nav-wrapper{display:flex;flex-direction:column;flex-wrap:wrap}
.site-footer__nav-wrapper ul{display:flex}
@media (max-width:58.749rem){.site-footer__nav-wrapper ul{margin-bottom:1rem}
}
@media (max-width:33.75rem){.site-footer__nav-wrapper ul{column-gap:7.6875rem;display:grid;grid-template-columns:1fr 1fr;margin-bottom:1rem;row-gap:1rem}
}
.site-footer__nav-wrapper ul li{margin-left:4.6875rem}
.site-footer__nav-wrapper ul li:first-child{margin-left:0}
@media (max-width:33.75rem){.site-footer__nav-wrapper ul li{margin:0}
}
.site-footer__nav-title{font-weight:700;margin-bottom:1rem;text-transform:uppercase}
.site-footer__nav-text p{font-size:1vw}
@media(max-width:1600px){.site-footer__nav-text p{font-size:16px}
}
@media(min-width:1800px){.site-footer__nav-text p{font-size:18px}
}
.site-footer__nav-link a{color:#fff;position:relative}
.site-footer__nav-link a:focus{border-bottom:2px solid #fff;outline:none}
.site-footer__nav-link a:focus:not(:focus-visible){border-bottom:none;outline:none}
.site-footer__nav-link a:after{background-color:#fff;bottom:-2px;content:"";display:inline-block;height:2px;left:50%;position:absolute;transform:translateX(-50%) scaleX(0);transform-origin:right;transition:transform 1s cubic-bezier(.19,1,.22,1);width:100%}
@media (min-width:58.75rem){.site-footer__nav-link a:after{width:100%}
}
.site-footer__nav-link a:hover{color:#fff}
.site-footer__nav-link a:hover:after{background-color:#fff;transform:translateX(-50%) scaleX(1);transform-origin:left;transition:transform .4s cubic-bezier(.19,1,.22,1)}
.site-footer__nav-link a.active{color:#fff}
.site-footer__nav-link a.active:after{transform:translateX(-50%) scaleX(1)}
.site-footer__stamp img{height:64px;width:64px}
.site-footer__social{align-items:center;display:flex;flex-wrap:nowrap;margin-top:2.8125rem;padding-left:0}
@media (max-width:750px){.site-footer__social{margin-bottom:2.875rem;margin-top:1.25rem}
}
.site-footer__social li{list-style:none;margin:0 2rem 0 0}
.site-footer__social li:last-child(){margin-right:0}
.site-footer__social svg{color:#fff;height:23px;width:23px}
@media (max-width:33.75rem){.site-footer__social{display:flex;flex-wrap:wrap;gap:1rem;margin:1.5rem auto 2.875rem 0;padding-left:0}
}
.site-footer__menu{align-items:flex-start;border-top:2px solid #fff;display:flex;flex-wrap:wrap;justify-content:space-between;min-height:6.5625rem;padding:0}
@media (max-width:750px){.site-footer__menu{align-items:flex-start;flex-direction:column;justify-content:flex-start}
}
.site-footer__menu__list{column-gap:3rem;display:grid;flex-wrap:wrap;grid-template-columns:max-content max-content max-content max-content;justify-content:center;margin-bottom:3.5625rem;margin-top:2.8125rem;padding-left:0;row-gap:1.0625rem}
@media (max-width:76.25rem){.site-footer__menu__list{grid-template-columns:max-content max-content max-content}
}
@media (max-width:63.999rem){.site-footer__menu__list{grid-template-columns:max-content max-content}
}
@media (max-width:750px){.site-footer__menu__list{display:flex;flex-direction:column;margin-bottom:1.75rem;margin-top:2.5rem}
}
.site-footer__menu__list li{list-style:none}
@media (min-width:58.75rem){.site-footer__menu__list li:last-child{margin-right:0}
}
.site-footer__menu a{color:#fff;font-size:1.5vw;font-weight:400;line-height:1;padding:0;position:relative}
.site-footer__menu a:focus{border-bottom:2px solid #fff;outline:none}
.site-footer__menu a:focus:not(:focus-visible){border:none;outline:none}
@media(max-width:933.3333333333px){.site-footer__menu a{font-size:14px}
}
@media(min-width:1066.6666666667px){.site-footer__menu a{font-size:16px}
}
@media (min-width:58.75rem){.site-footer__menu a{padding:0}
}
.site-footer__menu a:after{background-color:#fff;bottom:-2px;content:"";display:inline-block;height:2px;left:50%;position:absolute;transform:translateX(-50%) scaleX(0);transform-origin:right;transition:transform 1s cubic-bezier(.19,1,.22,1);width:100%}
@media (min-width:58.75rem){.site-footer__menu a:after{width:100%}
}
.site-footer__menu a:hover{color:#fff}
.site-footer__menu a:hover:after{background-color:#fff;transform:translateX(-50%) scaleX(1);transform-origin:left;transition:transform .4s cubic-bezier(.19,1,.22,1)}
.site-footer__menu a.active{color:#fff}
.site-footer__menu a.active:after{transform:translateX(-50%) scaleX(1)}
.site-footer .button--tertiary .after,.site-footer .button--tertiary .before{-webkit-box-shadow:inset 0 0 0 2px #fff;box-shadow:inset 0 0 0 2px #fff}

.site-nav{user-select:none}
.site-nav.ready-to-fixed-menu .site-nav__menu{display:flex;padding-top:0}
/* .site-nav.ready-to-fixed-menu .site-nav__menu-fixed{background:#f3f2ef;bottom:100%;left:0;position:fixed;transform:translateZ(0);transition:transform .3s ease-in;width:100%;z-index:778} */
.site-nav.ready-to-fixed-menu .site-nav__menu-fixed.fixed-menu{transform:translate3d(0,100%,0)}
@media (max-width:63.999rem){
  .site-nav__menu:not(.site-nav__menu__overview) .site-nav__menu__list{display:none}
}
@media (min-width:64rem){
  .site-nav__menu{display:flex;justify-content:space-between;margin:0 64px 0 0;padding:0 1.5rem;width:calc(100% - 64px)}
}
@media (min-width:64rem) and (min-width:120.001rem){
  .site-nav__menu{margin:0 auto;max-width:84vw;padding:0}
}
@media (min-width:64rem){
  .site-nav__menu-wrapper{display:flex;justify-content:space-between;width:100%}
  .site-nav__menu-wrapper .site-nav__logo{height:auto;left:auto;padding-top:2px;top:auto}
  .site-nav__menu-wrapper .site-nav__logo__link{display:block}
  .site-nav__menu-wrapper .site-nav__logo__link:focus-visible{border:none;outline:none}
  .site-nav__menu-wrapper .site-nav__logo__link:focus-visible svg{fill:#fff}
}

.site-nav__menu-fixed{border-bottom:1px solid #d1d3ca}
.site-nav__menu__container{width:100%}

@media (min-width:64rem){
  .site-nav__menu__container{background-color:#f3f2ef;border-bottom:1px solid #ff5959;bottom:100%;left:0;padding:0 0 .75rem;position:fixed;transform:translateY(0);transition:transform .5s ease-out;z-index:10}
  .site-nav__menu__container.active{transform:translateY(100%)}
  .site-nav__menu__container .site-nav__menu-wrapper .site-nav__logo__link{align-items:flex-end;display:flex;position:relative;top:-.9375rem}
  .site-nav__menu__container .site-nav__menu-wrapper .site-nav__logo__link:hover{padding-bottom:5px}
  .site-nav__menu__container .site-nav__menu-wrapper .site-nav__logo{margin-bottom:auto;margin-top:1.5625rem;padding-bottom:0}
}

.site-nav__menu__overview:focus{outline:none}

@media (min-width:64rem){
  .site-nav__menu__overview:before{border-top:1px solid #d1d3ca;content:"";left:0;position:absolute;top:64px;width:100%}
}
@media (max-width:63.999rem){
  .site-nav__menu__overview{display:block!important}
  .site-nav__menu__overview .site-nav__logo{display:none}
}

.site-nav__menu__title{color:#000;font-size:1.75rem;line-height:2.125rem;position:relative;text-align:left;width:100%}

@media (min-width:64rem){
  .site-nav__menu__title{font-size:1.125rem;line-height:1.5rem;text-transform:none}
  .site-nav__menu__title:focus{border:4px solid #000;box-sizing:border-box;margin:-8px;outline:none;padding:4px}
  .site-nav__menu__title:focus:before{display:none}
  .site-nav__menu__title:focus:not(:focus-visible){border:none;margin:0;outline:none;padding:0}
  .site-nav__menu__title:focus:not(:focus-visible):before{display:block}
  .site-nav__menu__title:hover:before{background:#d1d3ca;content:"";height:5px;left:0;position:absolute;top:-10px;visibility:visible;width:15px}
}

.site-nav__menu__title.active:before{background:#ff5959;content:"";height:5px;left:0;position:absolute;top:35px;width:15px}

@media (min-width:64rem){
  .site-nav__menu__title.active:before{top:-10px}
}

.site-nav__menu__title svg{display:none}

@media (max-width:63.999rem){
  .site-nav__menu__title{outline-offset:-1px;padding:1.25rem 3.125rem 1.125rem 1.5rem}
  .site-nav__menu__title svg{display:block;height:8px;position:absolute;right:1.875rem;top:2.1875rem;transform-origin:50%;transition:transform .3s ease;width:12px}
}
@media (min-width:64rem){
  .site-nav__menu__list{display:flex;flex:1;max-width:68vw;z-index:2}
  .site-nav__menu__item{flex:1;padding:1.3125rem 1.625rem 1.1875rem 0}
}
@media (max-width:63.999rem){
  .site-nav__menu__item{border-top:1px solid #d1d3ca;overflow:hidden}
  .site-nav__menu__item:first-child{border:0}
}

.site-nav__menu__item.active .site-nav__menu__sublist{opacity:1;visibility:visible}
.site-nav__menu__item.active .site-nav__menu__title svg{transform:rotate(-180deg)}
.site-nav__menu__sublist{max-height:0;overflow:hidden;padding:0;transition:max-height .3s ease-out,visibility .3s ease-out;visibility:hidden;will-change:max-height}

@media (min-width:64rem){
  .site-nav__menu__sublist{margin:2.75rem 0 0;max-height:none!important;overflow:visible;visibility:visible}
}

.site-nav__menu__subitem{font-size:1rem;line-height:1.25rem;padding:0 0 1rem 1.5rem}

@media (min-width:64rem){
  .site-nav__menu__subitem{padding:0 0 1rem}
}

.site-nav__menu__subitem.active a:before{background:#ff5959;opacity:1;visibility:visible}
.site-nav__menu__subitem a:focus:before,.site-nav__menu__subitem.active{left:-21px;top:12px}
.site-nav__menu__subitem a:focus:not(:focus-visible):before,.site-nav__menu__subitem.active{left:-25px;top:9px}
.site-nav__menu__subitem a{font-weight:400;position:relative}
.site-nav__menu__subitem a:before{background-color:#d1d3ca;content:"";height:5px;left:-25px;opacity:0;position:absolute;top:9px;transition:opacity .15s linear,visibility 0s linear .15s;visibility:hidden;width:15px}
.site-nav__menu__subitem a:hover:before{opacity:1;transition:opacity .15s linear,visibility 0ms linear;visibility:visible}

@media (min-width:64rem){
  .site-nav__menu__subitem a:focus{border:2px solid #000;box-sizing:border-box;margin:-6px;outline:none;padding:4px}
  .site-nav__menu__subitem a:focus:not(:focus-visible){border:none;box-sizing:initial;margin:0;outline:none;padding:0}
}

.site-nav__logo {left:1.5rem; pXXXosition:fixed;top:1.5rem;width:8.4vw;z-index:999}

.site-nav__logo svg{height:1.125rem;width:auto}
.site-nav__logo__link{color:#000}
.site-nav__logo__link:focus{outline:2px solid #000;outline-offset:3px}
.site-nav__logo__link:focus:not(:focus-visible){outline:none}
.site-nav__logo__link:focus,.site-nav__logo__link:hover{color:#ff5959}
.site-nav__logo__link:focus-visible{color:#ff5959}

@media (min-width:64rem){
  .site-nav__logo{align-items:center;display:flex;height:2.625rem;left:auto;min-width:101px;position:relative;top:.875rem;width:7.75rem;z-index:777}
  .site-nav__logo svg{height:2.25rem;width:auto}
}

.site-nav__icons{background-color:#f3f2ef;display:flex;flex-direction:row-reverse;justify-content:space-between;position:fixed;right:1.25rem;top:1.5rem;z-index:999}
.site-nav__icons .language-select{font-size:1.25rem;z-index:999}

@media (min-width:64rem){
  .site-nav__icons{align-items:center;flex-direction:column;height:112px;justify-content:center;right:0;top:0;width:64px}
  html:not([lang=en]) .site-nav__icons{height:152px}
  .site-nav__icons .icon-menu{display:none}
}

.site-nav__icons .icon-menu{z-index:999}

@media (max-width:63.999rem){
  .site-nav__icons .icon-menu{display:block}
}

.theme-dark-side .site-nav__icons .icon-menu svg,.theme-light-side .site-nav__icons .icon-menu svg{stroke:#666;stroke-width:.5}

@supports(mix-blend-mode:difference){.theme-dark-side .site-nav__icons .icon-menu svg,.theme-light-side .site-nav__icons .icon-menu svg{stroke:none}
}
.site-nav__icons .icon-global,.site-nav__icons .icon-lang{-webkit-backface-visibility:hidden;backface-visibility:hidden;left:50%;position:absolute;top:50%;transform:rotateX(0deg) translateX(-50%) translateY(-50%);transform-origin:0 0;transform-style:preserve-3d;transition:transform 1s}
.site-nav__icons .icon-lang{height:100%;margin-left:.375rem}
.site-nav__icons .icon-close{-webkit-backface-visibility:hidden;backface-visibility:hidden;color:#fff;transform:rotateX(180deg);transform-style:preserve-3d;transition:transform 1s}
.site-nav__icons .opened .icon-global,.site-nav__icons .opened .icon-lang{transform:rotateX(180deg) translateX(-50%) translateY(-50%)}
.site-nav__icons .opened .icon-close{transform:rotateX(0deg)}
.site-nav__icons>a,.site-nav__icons>button{outline:none;position:relative}
.site-nav__icons>a:focus,.site-nav__icons>button:focus{outline:2px solid #000;outline-offset:3px}
.site-nav__icons>a:focus:not(:focus-visible),.site-nav__icons>button:focus:not(:focus-visible){outline:none}
@media (max-width:63.999rem){.site-nav__icons>a,.site-nav__icons>button{margin:0 .625rem}
}
@media (min-width:64rem){.site-nav__icons>a,.site-nav__icons>button{align-items:center;display:flex;height:40px;justify-content:center;padding:0;width:100%}
}
.site-nav__icons [class^=icon-] svg{color:#000;height:1.125rem;pointer-events:none;width:1.125rem}
@media (min-width:64rem){.site-nav__icons [class^=icon-] svg{height:1.5rem;width:1.5rem}
}
.site-nav__icons .icon-lang svg{height:100%;width:2.5rem}
.site-nav__icons .icon-search svg{width:1.375rem}
.site-nav__overlay{left:0;position:fixed;top:0;width:100vw;z-index:888}
.no-scroll .site-nav__overlay{height:100%;opacity:1;visibility:visible}
.site-nav__overlay .site-nav__menu{transition:padding .3s linear}
.site-nav__overlay__content-general,.site-nav__overlay__content-lang,.site-nav__overlay__content-location{display:none;height:calc(100vh - 122px);justify-content:center}
@media (max-width:63.999rem){.site-nav__overlay__content-general,.site-nav__overlay__content-lang,.site-nav__overlay__content-location{-webkit-overflow-scrolling:touch;border-top:1px solid #d1d3ca;flex-wrap:wrap;height:100%;margin:4.125rem 0 0;max-height:calc(100% - 4.125rem);overflow-x:hidden;overflow-y:auto;overscroll-behavior:contain;position:relative;width:100vw}
}
@media (min-width:64rem){.site-nav__overlay__content-location{height:100%;padding:2vh 0}
.site-nav__overlay__content-location .site-nav__locations__container{overflow-y:auto}
}
.site-nav__overlay__content-general{height:auto}
@media (max-width:63.999rem){.site-nav__overlay__content-general{height:100%;overflow:hidden;padding:0 0 5rem}
.site-nav__overlay__content-general .site-nav__menu__container{height:100%;overflow-x:hidden;overflow-y:auto}
}
@media (min-width:64rem){.site-nav__overlay__content-general{display:block!important}
}
.site-nav__overlay .site-nav__contact-us-button{background-color:#f3f2ef;border-top:1px solid #002fa7;bottom:0;color:#000;font-size:1.75rem;height:80px;left:0;line-height:80px;margin:0;padding:0 1.5rem;position:fixed;text-align:left;width:100%}
@media (min-width:64rem){.site-nav__overlay .site-nav__contact-us-button{display:none}
}
.site-nav__lang{opacity:0;visibility:hidden}
.site-nav__lang:focus{outline:none}
@media (max-width:63.999rem){.site-nav__lang{padding:0 1.5rem;width:100vw}
}
@media (min-width:64rem){.site-nav__lang{display:flex;flex-direction:column;justify-content:center}
.site-nav__lang__container{min-width:200px;padding-left:15%}
}
.site-nav__lang__language{margin:2.5rem 0}
.site-nav__lang__language li+li{margin-top:.5rem}
.site-nav__lang__language a{color:#000;display:inline-block;font-size:2vw;line-height:1.2;margin:.3125rem 0;outline:none;position:relative;text-align:left}
.site-nav__lang__language a:focus{outline:2px solid #000;outline-offset:3px}
.site-nav__lang__language a:focus:not(:focus-visible){outline:none}
@media(max-width:1200px){.site-nav__lang__language a{font-size:24px}
}
@media(min-width:1500px){.site-nav__lang__language a{font-size:30px}
}
@media (min-width:64rem){.site-nav__lang__language a{margin:.625rem 0}
}
.site-nav__lang__language a:after{background-color:#000;bottom:0;content:"";display:inline-block;height:3px;left:0;position:absolute;transform:scaleX(0);transform-origin:right;transition:transform 1s cubic-bezier(.19,1,.22,1);width:100%}
@media (min-width:64rem){.site-nav__lang__language a:hover:after{transform:scaleX(1);transform-origin:left;transition:transform .4s cubic-bezier(.19,1,.22,1)}
}
.theme-dark-side .site-nav__lang__language a.active,.theme-light-side .site-nav__lang__language a.active{color:#000}
.site-nav__lang__language a.active:after{transform:scaleX(1)}
.site-nav__locations{color:#000;opacity:0;visibility:hidden}
.site-nav__locations:focus{outline:none}
@media (max-width:63.999rem){.site-nav__locations{margin:0;width:100vw}
}
@media (min-width:64rem){.site-nav__locations{display:flex;flex-direction:column;justify-content:center;margin:0 64px 0 auto;position:relative;width:calc(92vw - 64px)}
.site-nav__locations__container{max-width:calc(84vw - 64px)}
}
.site-nav__locations__title{font-size:3.125rem;font-weight:300}
@media (max-width:63.999rem){.site-nav__locations__title{display:flex;flex-wrap:wrap;font-size:1.5625rem;padding:2.1875rem 1.5rem 0}
.site-nav__locations__title-text{display:block;width:100%}
}
@media (min-width:64rem){.site-nav__locations__title{margin-bottom:4vh}
}
.site-nav__locations__global-link{background-image:linear-gradient(currentColor,currentColor);background-position:0 94%;background-repeat:repeat-x;background-size:100% 4%;color:#000;display:inline-block;display:inline;line-height:1.2;margin-bottom:2.75rem;order:1;position:relative}
@media (min-width:58.75rem){.site-nav__locations__global-link{line-height:1.1}
}
.site-nav__locations__global-link:focus:not(:focus-visible){outline:none}
@media (max-width:63.999rem){.site-nav__locations__global-link{font-size:2.25rem}
.site-nav__locations__areas>:first-child{border-top:1px solid #ccc}
}
@media (min-width:64rem){.site-nav__locations__areas{align-items:flex-start;display:flex;flex-direction:column;justify-content:space-between;overflow:hidden;overflow-y:auto;position:relative}
}
.site-nav__locations__region{display:flex;flex:1 1 0;flex-direction:column;width:100%}
@media (max-width:63.999rem){.site-nav__locations__region{border-bottom:1px solid #ccc}
}
@media (min-width:64rem){.site-nav__locations__region{justify-content:space-between;margin:0}
}
.site-nav__locations__region.active .site-nav__locations__region__places,.site-nav__locations__region.default-active .site-nav__locations__region__places{opacity:1;visibility:visible}
.site-nav__locations__region.active .site-nav__locations__region__title svg,.site-nav__locations__region.default-active .site-nav__locations__region__title svg{transform:rotate(-180deg)}
.site-nav__locations__region.default-active .site-nav__locations__region__places{max-height:none}
.site-nav__locations__region__title{color:#000;font-size:1.25rem;line-height:1;padding:1.125rem 0;position:relative;text-align:left;text-transform:uppercase;white-space:nowrap}
@media (max-width:63.999rem){.site-nav__locations__region__title{font-size:.875rem;padding:1rem 1.5rem}
}
.site-nav__locations__region__title svg{display:none}
@media (max-width:63.999rem){.site-nav__locations__region__title{padding:1.375rem 3.125rem 1.375rem 1.5rem}
.site-nav__locations__region__title svg{display:block;height:8px;position:absolute;right:1.875rem;top:1.75rem;transform-origin:50%;transition:transform .3s ease;width:12px}
}
@media (min-width:64rem){.site-nav__locations__region__title{border-bottom:1px solid #d1d3ca;padding-right:.9375rem}
}
@media (max-width:63.999rem){.site-nav__locations__region__places{max-height:0;overflow:hidden;transition:opacity .25s linear,max-height .1s linear;visibility:hidden}
}
@media (min-width:64rem){.site-nav__locations__region__places{margin:1.0625rem .625rem 1.0625rem 0;max-height:56vh;overflow-x:auto;padding-right:.625rem}
}
@media (max-width:63.999rem){.site-nav__locations__region__places li:first-child{border-top:1px solid #ccc}
.site-nav__locations__region__places li:last-child{border-bottom:0}
}
@media (min-width:64rem){.site-nav__locations__region__places ul{display:flex;flex-flow:row wrap}
}
.site-nav__locations__region__places__item{display:flex;font-size:1.25rem;padding:.625rem 0}
@media (min-width:64rem){.site-nav__locations__region__places__item{flex-basis:25%}
}
@media (max-width:63.999rem){.site-nav__locations__region__places__item{border-bottom:1px solid #ccc;font-size:.875rem;padding:1.125rem 1.5rem}
}
.site-nav__locations__region__places__item a{align-items:center;display:flex}
.site-nav__locations__region__places__item a:hover span{text-decoration:underline}
.site-nav__locations__region__places__item svg{border-radius:2px;box-shadow:inset 0 0 1px #000;height:15px;margin:0 .625rem 0 .3125rem;width:21px}
.site-nav progress{-webkit-appearance:none;-moz-appearance:none;appearance:none;background-color:transparent;border:none;color:#002fa7;height:4px;left:0;position:fixed;top:66px;width:100%;z-index:900}
.site-nav progress::-webkit-progress-bar{background-color:transparent}
.site-nav progress::-webkit-progress-value{background-color:#002fa7}
.site-nav progress::-moz-progress-bar{background-color:#002fa7}
@media (min-width:64rem){.site-nav progress{display:none}
}
.site-nav__icons .location-select{z-index:999}
.site-nav__icons .location-select:focus{border:2px solid #000;outline:none}
.site-nav__icons .location-select:focus:not(:focus-visible){border:none;outline:none}
.site-nav__icons .search-select{z-index:999}
.site-nav__icons .search-select:focus{border:2px solid #000;outline:none}
.site-nav__icons .search-select:focus:not(:focus-visible){border:none;outline:none}
.skip-link{background-color:#000;color:#fff;font-size:.875rem;font-style:normal;font-weight:400;height:max-content;height:1px;left:0;left:-999px;line-height:1.0625rem;padding-left:calc(8vw - 5px);padding-right:.5rem;position:absolute;text-decoration-line:underline;width:1px}
.skip-link:focus{display:inline-block;height:auto;margin:auto;outline:none;padding-bottom:.71875rem;padding-top:.71875rem;position:static;width:100%}
.skip-link:focus-visible{display:inline-block;height:auto;margin:auto;outline:none;padding-bottom:.71875rem;padding-top:.71875rem;position:static;width:100%}
@media (max-width:63.999rem){.skip-link{padding-left:1.5rem}
.skip-link:focus{display:inline-block;height:auto;margin:auto;padding-bottom:.71875rem;padding-top:.71875rem;position:static;width:100%}
.skip-link:focus:not(:focus-visible){display:inline-block;height:auto;margin:auto;padding-bottom:.71875rem;padding-top:.71875rem;position:static;width:100%}
}
@media (min-width:58.75rem){.services-block{padding-bottom:5rem}
}
.services-block__container{display:flex;flex-direction:column;padding:0 1.5rem;position:relative}
@media (min-width:64rem)and (pointer:fine){.services-block__container{flex-direction:row-reverse;margin-right:64px;min-height:600px}
}
@media (min--moz-device-pixel-ratio:0)and (min-width:64rem){.services-block__container{flex-direction:row-reverse;margin-right:64px;min-height:600px}
}
@media (min-width:120.001rem){.services-block__container{margin:0 auto;max-width:84vw}
}
.services-block__intro{background-color:#000;color:#fff;display:flex;flex-direction:column;justify-content:center;padding:1.25rem 6vw;position:relative;text-align:center;width:100%;z-index:5}
@media (min-width:58.75rem)and (pointer:fine){.services-block__intro{padding:1.25rem}
}
@media (min--moz-device-pixel-ratio:0)and (min-width:58.75rem){.services-block__intro{padding:1.25rem}
}
@media (min-width:64rem)and (pointer:fine){.services-block__intro{flex-direction:row;padding:3.75rem 0;transform:rotate(180deg);width:5.625rem}
}
@media (min--moz-device-pixel-ratio:0)and (min-width:64rem){.services-block__intro{flex-direction:row;padding:3.75rem 0;transform:rotate(180deg);width:5.625rem}
}
.services-block__intro__heading{font-size:3vw;margin:0}
@media(max-width:600px){.services-block__intro__heading{font-size:18px}
}
@media(min-width:1400px){.services-block__intro__heading{font-size:42px}
}
@media (min-width:64rem)and (pointer:fine){.services-block__intro__heading{font-size:4vh;white-space:nowrap;writing-mode:vertical-rl}
}
@media (min--moz-device-pixel-ratio:0)and (min-width:64rem){.services-block__intro__heading{font-size:4vh;white-space:nowrap;writing-mode:vertical-rl}
}
.services-block__intro__heading a{cursor:pointer;font-weight:inherit}
.services-block__services{display:flex;flex-flow:row wrap;position:relative;width:100%;z-index:5}
.services-block__services.double .services-block__service:nth-child(2n){border-right:none}
@media (min-width:58.75rem)and (pointer:fine){.services-block__services.double .services-block__service{width:50%}
}
@media (min--moz-device-pixel-ratio:0)and (min-width:58.75rem){.services-block__services.double .services-block__service{width:50%}
}
.services-block__services.triple .services-block__service:nth-child(3n){border-right:none}
@media (min-width:58.75rem)and (pointer:fine){.services-block__services.triple .services-block__service{width:33.3333333333%}
}
@media (min--moz-device-pixel-ratio:0)and (min-width:58.75rem){.services-block__services.triple .services-block__service{width:33.3333333333%}
}
@media (min-width:58.75rem){.services-block__services.triple:before{background-color:#fff;content:"";height:100%;left:50%;position:absolute;top:0;width:1px;z-index:6}
}
@media (min-width:58.75rem)and (max-width:58.749rem),(min-width:58.75rem)and (pointer:coarse){.services-block__services.triple:before{display:none}
}
@media (min-width:58.75rem)and (min-width:58.75rem){.services-block__services.triple:before{left:calc(66.66667% - 1px)}
}
.services-block__services.quadruple .services-block__service:nth-child(4n){border-right:none}
@media (min-width:58.75rem)and (pointer:fine){.services-block__services.quadruple .services-block__service{width:25%}
}
@media (min--moz-device-pixel-ratio:0)and (min-width:58.75rem){.services-block__services.quadruple .services-block__service{width:25%}
}
@media (min-width:58.75rem){.services-block__services.quadruple:after,.services-block__services.quadruple:before{background-color:#fff;content:"";height:100%;position:absolute;top:0;width:1px;z-index:6}
.services-block__services.quadruple:before{left:50%}
}
@media (min-width:58.75rem)and (max-width:58.749rem),(min-width:58.75rem)and (pointer:coarse){.services-block__services.quadruple:before{display:none}
}
@media (min-width:58.75rem)and (min-width:58.75rem){.services-block__services.quadruple:before{left:calc(50% - 1px)}
}
@media (min-width:58.75rem)and (max-width:58.749rem),(min-width:58.75rem)and (pointer:coarse){.services-block__services.quadruple:after{display:none}
}
@media (min-width:58.75rem)and (min-width:58.75rem){.services-block__services.quadruple:after{left:calc(75% - 1px)}
}
@supports(clip-path:polygon(0 0,100% 0,100% 100%,0% 100%)){.services-block .services-block__visuals picture{clip:auto;clip-path:polygon(0 0,100% 0,100% 100%,0 100%)}
}
.services-block__visuals{clip:rect(0,auto,auto,0);bottom:0;left:0;position:absolute;right:0;top:0;z-index:1}
.services-block__visuals picture{bottom:0;left:0;pointer-events:none;position:fixed;right:0;top:0}
@media (max-width:58.749rem),(pointer:coarse){.services-block__visuals picture{top:80px}
}
.services-block__visuals__visual{height:100%;object-fit:cover;object-position:top center;width:100%}
@media (max-width:58.749rem),(pointer:coarse){.services-block__visuals__visual{filter:brightness(.7)}
}
.services-block__service{background-attachment:fixed;background-position:top;background-repeat:no-repeat;border-right:1px solid #fff;display:flex;flex-direction:column;justify-content:space-between;overflow:hidden;position:relative;transition:background-position 0s .4s}
@media (max-width:58.749rem),(pointer:coarse){.services-block__service{background-size:0;border-bottom:2px solid hsla(0,0%,100%,.2);height:auto;padding:1.25rem 6vw;width:100%}
}
@media (min-width:58.75rem)and (pointer:fine){.services-block__service{background-size:cover;padding:1.875rem}
}
@media (min--moz-device-pixel-ratio:0)and (min-width:58.75rem){.services-block__service{background-size:cover;padding:1.875rem}
}
.services-block__service:not(:hover){background-position:0 -10000px;transition:background-position 0s 0s}
@media (min-width:58.75rem){.services-block__service:before{-webkit-backface-visibility:hidden;background:inherit;bottom:-100px;content:"";filter:brightness(.85);left:-100px;opacity:0;position:absolute;right:-100px;top:-100px;transition:opacity .4s linear .4s}
.services-block__service:hover:before{opacity:1}
}
.services-block__service__foot,.services-block__service__head{color:#fff;position:relative}
@media (max-width:58.749rem),(pointer:coarse){.services-block__service__head{align-items:center;display:flex;min-height:34px}
}
.services-block__service__open-icon{display:none}
@media (max-width:58.749rem),(pointer:coarse){.services-block__service__open-icon{display:block;height:28px;margin-left:auto;transition:.25s;width:28px}
.services-block__service__foot{height:0;overflow:hidden;width:85%}
}
.services-block__service__heading{font-size:1.5vw;position:relative;text-transform:uppercase;user-select:none}
@media(max-width:933.3333333333px){.services-block__service__heading{font-size:14px}
}
@media(min-width:1333.3333333333px){.services-block__service__heading{font-size:20px}
}
@media (max-width:58.749rem),(pointer:coarse){.services-block__service__heading{font-weight:500;line-height:1.4;margin:0;width:calc(100% - 50px)}
}
.services-block__service__heading:before{background-color:#fff;content:"";display:block;height:2px;margin-bottom:1.125rem;width:30px}
@media (min-width:58.75rem){.services-block__service__heading:before{width:60px}
}
@media (max-width:58.749rem),(pointer:coarse){.services-block__service__heading:before{display:none}
}
.services-block__service__subheading{font-size:1.5vw;font-style:italic;font-weight:300}
@media(max-width:1066.6666666667px){.services-block__service__subheading{font-size:16px}
}
@media(min-width:2000px){.services-block__service__subheading{font-size:30px}
}
@media (max-width:58.749rem),(pointer:coarse){.services-block__service__subheading{margin:1.875rem 0}
}
@media (min-width:58.75rem)and (pointer:fine){.services-block__service__subheading{opacity:0;visibility:hidden}
}
@media (min--moz-device-pixel-ratio:0)and (min-width:58.75rem){.services-block__service__subheading{opacity:0;visibility:hidden}
}
.services-block__service__link{color:#fff}
@media (max-width:58.749rem),(pointer:coarse){.services-block__service__link{border:2px solid #fff;display:inline-block;font-size:1.5vw;padding:.75rem 1.6666666667rem;text-transform:uppercase}
}
@media(max-width:58.749rem)and (max-width:933.3333333333px),(pointer:coarse)and (max-width:933.3333333333px){.services-block__service__link{font-size:14px}
}
@media(max-width:58.749rem)and (min-width:1333.3333333333px),(pointer:coarse)and (min-width:1333.3333333333px){.services-block__service__link{font-size:20px}
}
@media (min-width:58.75rem)and (pointer:fine){.services-block__service__link{align-items:center;display:inline-flex;opacity:0;visibility:hidden}
}
@media (min--moz-device-pixel-ratio:0)and (min-width:58.75rem){.services-block__service__link{align-items:center;display:inline-flex;opacity:0;visibility:hidden}
}
.services-block__service__link-large{display:block;height:100%;left:0;position:absolute;top:0;width:100%;z-index:1}
@media (max-width:58.749rem),(pointer:coarse){.services-block__service__link-large{display:none}
}
@media (min-width:58.75rem)and (pointer:fine){.services-block .word{opacity:0;visibility:hidden}
}
@media (min--moz-device-pixel-ratio:0)and (min-width:58.75rem){.services-block .word{opacity:0;visibility:hidden}
}
.services-block .line{line-height:1.25;overflow:hidden}
@media (min-width:58.75rem){.services-block .line{display:inline-block!important}
}
.services-block .line span{background-color:#000;height:100%;left:0;opacity:0;position:absolute;top:0;visibility:hidden;width:100%}
.new_services-block{color:#000;font-family:Soehne,sans-serif;margin-bottom:5rem}
@media (max-width:40rem){.new_services-block{margin-bottom:2.5rem}
}
.new_services-block__service-link-container{align-items:flex-start;display:flex}
.new_services-block__service-link-container svg{height:8px;margin:.5625rem 0 0;transform-origin:left center;transition:transform .3s ease-in;width:31px}
.new_services-block__container{display:flex;flex-direction:column;padding:0 1.5rem;position:relative}
@media (min-width:64rem){.new_services-block__container{margin-right:64px}
}
@media (min-width:120.001rem){.new_services-block__container{margin:0 auto;max-width:84vw;padding:0}
}
.new_services-block__title{font-family:ValtechNeue,sans-serif;font-size:3rem;font-style:normal;letter-spacing:-.0060096125rem;line-height:1.2;margin-bottom:2rem}
@media (max-width:58.749rem){.new_services-block__title{font-size:1.75rem;margin-bottom:1rem;margin-top:0}
}
.new_services-block_row{display:flex;justify-content:space-between;padding-bottom:1.25rem}
@media (max-width:58.749rem){.new_services-block_row{flex-direction:column;padding-bottom:0}
}
.new_services-block_row:last-child{padding-bottom:0}
.new_services-block__blank-item{background:#fff;padding:1.5rem;width:calc(50% - 10px)}
@media (max-width:58.749rem){.new_services-block__blank-item{margin-bottom:1.25rem;width:100%}
}
@media (min-width:105rem){.new_services-block__blank-item{display:flex;flex-direction:column;height:14vw;min-height:13.75rem}
}
.new_services-block__blank-item p{font-size:1.5vw;margin:0}
@media(max-width:1200px){.new_services-block__blank-item p{font-size:18px}
}
@media(min-width:1333.3333333333px){.new_services-block__blank-item p{font-size:20px}
}
@media (min-width:105rem){.new_services-block__blank-item p{margin:auto 0}
}
.new_services-block__blank-item-title{font-size:3vw;margin-bottom:1.5rem}
@media(max-width:933.3333333333px){.new_services-block__blank-item-title{font-size:28px}
}
@media(min-width:1600px){.new_services-block__blank-item-title{font-size:48px}
}
@media (max-width:58.749rem){.new_services-block__blank-item-title{margin-bottom:1rem}
}
.new_services-block__service{-webkit-touch-callout:none;display:flex;flex-direction:row;height:14vw;min-height:13.75rem;overflow:hidden;position:relative;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:100%}
@media (max-width:40rem){.new_services-block__service{flex-direction:column;height:auto;min-height:auto}
}
.new_services-block__service-link-wrapper{width:calc(50% - 10px)}
@media (max-width:58.749rem){.new_services-block__service-link-wrapper{margin-bottom:1.25rem;width:100%}
}
.new_services-block__service-link-wrapper:hover .new_services-block__service-image img{filter:brightness(.6)}
.new_services-block__service-link-wrapper:hover .new_services-block__service-link-container svg{transform:scaleX(1.2)}
.new_services-block__service-link-wrapper:active{outline:none}
.new_services-block__service-link-wrapper:active .new_services-block__service-content{background-color:#000;color:#fff}
.new_services-block__service-link-wrapper:active .new_services-block__service-content .new_services-block__service-link-container{border:none;margin-left:0;margin-top:0;padding:0}
.new_services-block__service-link-wrapper:focus{outline:none}
.new_services-block__service-link-wrapper:focus .new_services-block__service-content{background-color:#fff;color:#000}
.new_services-block__service-link-wrapper:focus .new_services-block__service-content .new_services-block__service-link,.new_services-block__service-link-wrapper:focus .new_services-block__service-content .new_services-block__service-link-arrow{color:#000}
.new_services-block__service-link-wrapper:focus .new_services-block__service-content .new_services-block__service-link svg,.new_services-block__service-link-wrapper:focus .new_services-block__service-content .new_services-block__service-link-arrow svg{transform:scaleX(1.2)}
.new_services-block__service-link-wrapper:focus:not(:focus-visible){outline:none}
.new_services-block__service-link-wrapper:focus:not(:focus-visible) .new_services-block__service-content .new_services-block__service-link-container{border:none;margin-left:0;margin-top:0;padding:0}
@media (max-width:40rem){.new_services-block__service-link-wrapper:focus:not(:focus-visible) .new_services-block__service-content .new_services-block__service-link-container{margin-top:.625rem}
}
.new_services-block__service-image{height:calc(67.3vw - 32.304px);max-height:400px;order:0;overflow:hidden;position:relative}
@media (min-width:40rem){.new_services-block__service-image{height:100%;max-height:none;width:59%}
}
.new_services-block__service_pictures{display:block;height:100%;object-fit:cover;width:100%}
@media (min-width:105rem){.new_services-block__service_pictures{height:auto;left:50%;min-height:100%;min-width:100%;position:absolute;top:50%;transform:translate(-50%,-50%) scale(1.01);transition:filter .32s ease-in;z-index:2}
}
.new_services-block__service-content{background-color:#000;color:#fff;display:flex;flex-direction:column;height:100%;order:2;padding:1.625rem 1.5rem 2.5625rem;position:relative;transition:background-color .3s;width:61%;z-index:3}
@media (max-width:40rem){.new_services-block__service-content{height:auto;padding:1.5rem 1.25rem 1.5rem 1rem;width:100%}
}
.new_services-block__service-title-wrapper{margin-bottom:1rem;margin-top:1.5625rem;overflow:hidden}
@media (max-width:40rem){.new_services-block__service-title-wrapper{margin-bottom:.5rem;margin-top:0}
}
.new_services-block__service-title{-webkit-box-orient:vertical;-webkit-line-clamp:2;display:-webkit-box;font-size:1.5rem;font-style:normal;font-weight:400;line-height:1.875rem;margin:0;text-overflow:ellipsis;white-space:pre-wrap;word-break:break-word}
@media (max-width:40rem){.new_services-block__service-title{-webkit-line-clamp:none;font-size:1.375rem}
}
.new_services-block__service-description{font-size:1rem;font-style:italic;font-weight:400;line-height:1.25rem}
.new_services-block__service-link{align-items:center;color:#ff5959;display:flex;font-size:1rem;font-style:normal;font-weight:400;line-height:1.1875rem;margin-bottom:0;margin-top:auto;overflow:hidden}
.new_services-block__service-link-text{-webkit-box-orient:vertical;-webkit-line-clamp:2;display:-webkit-box;font-size:1rem;margin-bottom:0;margin-right:.875rem;text-overflow:ellipsis;white-space:pre-wrap;word-break:break-word}
@media (max-width:40rem){.new_services-block__service-link-text{-webkit-line-clamp:none}
}
.new_services-block__service-link-text:empty{margin-right:0}
.new_services-block__service-link-absolut{height:100%;position:absolute;right:0;top:0;width:100%}
.new_services-block__service-link-arrow{align-items:center;color:#ff5959;display:flex;justify-content:center}
.new_services-block__service__foot{display:flex;flex:1;flex-direction:column}
.new_services-block .word{opacity:0;visibility:hidden}
.new_services-block .line{display:inline-block!important;line-height:1.25;overflow:hidden}
.new_services-block .line span{background-color:#000;height:100%;left:0;opacity:0;position:absolute;top:0;visibility:hidden;width:100%}
.new_services-block--only-one-item{background-color:transparent}
.new_services-block--only-one-item .new_services-block__title{color:#000}
.new_services-block--only-one-item .teaser-block-unu__teaser{width:100%}
.new_services-block--only-one-item .teaser-block-unu__teaser:hover .new_services-block__service_pictures{filter:brightness(.6)}
.new_services-block--only-one-item .teaser-block-unu__teaser:hover .teaser-block-unu__teaser-description--link svg{transform:scaleX(1.2)}
@media (max-width:58.75rem){.new_services-block--only-one-item .new_services-block__container{padding:0}
.new_services-block--only-one-item .new_services-block__title{margin-left:1.5rem}
.new_services-block--only-one-item .new_services-block__service-image{height:auto;overflow:visible}
.new_services-block--only-one-item .teaser-block-unu_media{margin-right:0;overflow:visible}
}
.new_services-block--only-one-item svg{display:block!important;transform-origin:0 50%;transition:transform .3s ease-in}
.new_services-block--only-one-item .new_services-block__service-image{width:100%}
.new_services-block--only-one-item .new_services-block__service_pictures{min-height:auto;min-width:auto;position:static;transform:none}
.site-logo{mix-blend-mode:difference;top:0}
@media (max-width:58.749rem){.site-logo{position:fixed;z-index:999}
}
@media (min-width:58.75rem){.site-logo{position:absolute;z-index:777}
}
.site-logo .svg-container{height:0;padding-top:20.5882352941%;position:relative;width:100%}
.theme-dark-side .site-logo svg{fill:#fff}
.theme-light-side .site-logo svg{fill:#000}
@supports(mix-blend-mode:difference){.theme-dark-side .site-logo svg,.theme-light-side .site-logo svg{fill:#fff}
}
.site-logo__secondary{height:21px;pointer-events:none;position:fixed;top:50%;transform:rotate(-90deg) translateY(-50%);transform-origin:50% 0 0;width:6.5vw;will-change:transform}
@media (max-width:63.999rem){.site-logo__secondary{display:none}
}
.theme-dark-side .site-logo__secondary,.theme-light-side .site-logo__secondary{color:#fff}
.site-logo__secondary__logo,.site-logo__secondary__reveal{opacity:0;visibility:hidden}
.modal__close-overlay,.modal__overlay{align-items:center;background:rgba(0,0,0,.6);bottom:0;display:flex;justify-content:center;left:0;position:fixed;right:0;top:0;z-index:9999}
.modal__close-overlay{background:none;z-index:0}
.modal__container{-webkit-overflow-scrolling:touch;background-color:#fff;box-sizing:border-box;max-height:100vh;overflow-y:auto;padding:1.875rem;width:90vw}
@media (min-width:58.75rem){.modal__container{max-width:80vw;width:50vw}
}
.modal__header{align-items:center;display:flex;justify-content:space-between}
.modal__header__title{font-size:1.5vw;margin:0}
@media(max-width:933.3333333333px){.modal__header__title{font-size:14px}
}
@media(min-width:1333.3333333333px){.modal__header__title{font-size:20px}
}
.modal__close svg{height:16px;pointer-events:none;width:16px}
.modal__content{margin:.625rem 0}
.modal__content__title{font-size:3vw;width:75%}
@media(max-width:600px){.modal__content__title{font-size:18px}
}
@media(min-width:1333.3333333333px){.modal__content__title{font-size:40px}
}
.modal__content p{font-size:1.3vw}
@media(max-width:1076.9230769231px){.modal__content p{font-size:14px}
}
@media(min-width:1538.4615384615px){.modal__content p{font-size:20px}
}
@keyframes mmfadeIn{0%{opacity:0}
to{opacity:1}
}
@keyframes mmfadeOut{0%{opacity:1}
to{opacity:0}
}
@keyframes mmslideIn{0%{transform:translateY(15%)}
to{transform:translateY(0)}
}
@keyframes mmslideOut{0%{transform:translateY(0)}
to{transform:translateY(-10%)}
}
.micromodal-slide{display:none}
.micromodal-slide .modal__container,.micromodal-slide .modal__overlay{will-change:transform}
.micromodal-slide.is-open{display:block}
.micromodal-slide[aria-hidden=false] .modal__overlay{animation:mmfadeIn .3s cubic-bezier(0,0,.2,1)}
.micromodal-slide[aria-hidden=false] .modal__container{animation:mmslideIn .3s cubic-bezier(0,0,.2,1)}
.micromodal-slide[aria-hidden=true] .modal__overlay{animation:mmfadeOut .3s cubic-bezier(0,0,.2,1)}
.micromodal-slide[aria-hidden=true] .modal__container{animation:mmslideOut .3s cubic-bezier(0,0,.2,1)}

