        <svg width="1000" height="563" viewBox="0 0 1000 563" class="svg-graphic">
          <defs>
            <mask id="case-3-mask" x="0" y="0" width="1000" height="563">
              <rect x="0" y="0" width="1000" height="563" fill="#fff"></rect>
              <g>
                <path d="M676.5,70.1v421.4c44.2-46.5,66.3-116.7,66.3-210.5C742.8,187,720.7,116.7,676.5,70.1z"/>
                <path d="M564.5,551.7c38.8-8.7,71.3-24.2,97.5-46.5V56.4c-26.1-22.3-58.6-37.8-97.5-46.5V551.7z"/>
                <path d="M550.1,7c-20.9-3.6-43.5-5.5-67.8-5.5h-31.8V560h31.8c24.3,0,46.9-1.8,67.8-5.5V7z"/>
                <rect x="335.5" y="1.5" width="100.5" height="558.5"/>
                <rect x="267.3" y="1.5" width="53.8" height="558.5"/>
              </g>
            </mask>
          </defs>
          <rect x="0" y="0" width="1000" height="563"></rect>
        </svg>
